.contact-section{
    .title{
        font-size:45px;
        text-transform: uppercase;
    }
    .holder{
        margin-top:50px;
        .contact-map{
            width:100%;
            iframe{
                width:100%;
            }
        }
    }
    .form-group{
        .form-control{
            margin-bottom:20px;
            border-radius: 0;
            background:none;
            color:$indigo;
            border:1px solid;
            border-color: rgba($indigo, .5);
            &:focus{
                box-shadow: none;
                border-color:$indigo;
            }
        }
    }
}