.clinical-study{
    .number-ul{
        margin-bottom:0;
        list-style:none;
        li{
            display: inline-block;
            width:calc( 100% / 5 - 4px );
            padding:0px 15px;
            vertical-align:top;
            
            .main-number-div{
                .circle-div{
                    width:100px;
                    height:100px;
                    border-radius:50%;
                    border:2px solid rgba($color:$indigo, $alpha: 0.5);
                    margin: auto;
                    margin-bottom:15px;
                    position: relative;
                    cursor: pointer;
                    h4{
                        text-align: center;
                        line-height:100px;
                    }
                    &::before{
                       content:'';
                       position:absolute;
                       width:126%;
                       right:-127%;
                       top:50px;
                       border:1px solid rgba($color:$indigo, $alpha: 0.5); 
                       display:block;
                    }
                    &:hover{
                        background:$indigo;
                        h4{
                            color:$white;
                        }
                    }
                }
                .circle-text{
                    p{
                        text-align: center;
                    }
                }
            }
            &:last-child{
                .main-number-div{
                    .circle-div{
                        &::before{
                            display:none;
                        }
                    }
                }
            }
        }
    }
}
.page-page-proven-results .testimonials{
    background:none;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .clinical-study {
        .number-ul{
            
            li {
                
                .main-number-div {
                    .circle-div{
                        &::before{
                            width: 90%;
                            right: -90%;
                        }
                    }
                }
            }
        }
    }
}  
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .clinical-study {
        .number-ul{
            padding-left:0;
            li {
                width:calc( 100% / 2  -  5px );
                .main-number-div {
                    width:60%;
                    margin:auto;
                    margin-bottom:30px;
                    .circle-div{
                        &::before{
                            width: 296%;
                            right: -297%;
                        }
                    }
                }
                &:last-child{
                    display:none;
                }
                &:nth-child(2){
                    .main-number-div {
                        .circle-div{
                            &::before{
                                display: none;
                            }
                        }
                    }
                }
                &:nth-child(4){
                    .main-number-div {
                        .circle-div{
                            &::before{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
} 
@media only screen and (max-width: 767px){
    .clinical-study {
        .number-ul{
            padding-left:0;
            li {
                width:100%;
                .main-number-div {
                    margin-bottom:30px;
                    .circle-div{
                        &::before{
                            display:none;
                        }
                    }
                }
            }
        }
        .clinical-study-man-div{
            padding:0 15px !important;
            margin-bottom:30px;
        }
    }
}