.real-result{
    .text-cotent{
        h6{
            margin-bottom:20px;
        }
        .step-result{
            list-style:none;
            padding-left:0;
            margin-bottom:20px;
            li{
                padding-left:30px;
                margin-bottom:15px;
                position: relative;
                &::before{  
                    content:'+';
                    position: absolute;
                    left:0;
                    top:-5px;
                    font-weight:800;
                    color:$indigo;
                    font-size:20px;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .real-result{
        .text-cotent {
            margin-bottom:40px;
        }
    }
}