<div class="container">
  <div class="row ">
    <div class="col-12 py-5">
      <div class="title content-title mb-4 pt-3">
        <h1 class="text-center">{{ page.title }}</h1>
      </div>
      <div class="contect">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>