{% section 'about-us-promo' %}
{% section 'why-us' %}
{% section 'doctor-new' %}
{% section 'our_team' %}
{%- comment -%}
{% section 'index-doctors-recommended' %} 
{%- endcomment -%}
{% section 'index-instagram-section' %}