{% section 'index-testimonials' %}
{% for product in collections.antiaging.products %}
    <input type="hidden" name="variantId" id="variantId" value="{{ product.variants[0].id }}" />
    <input id="quantity" min="1" name="quantity" style="display:none" type="number" value="1"/>
    {% assign product_id = product.id %}
{% endfor %}
<div class="row py-4">
    <div class="col-md-10 m-auto">
        <div id="shopify-product-reviews" data-id="{{product_id}}">{{ product.metafields.spr.reviews }}</div>
    </div>
</div>
{% section 'blog-slider' %}
