{% section 'benefits' %}
{% section 'benefits-skin' %}
{% comment %}
    {% section 'index-under-sanding-skin-section' %}
{% endcomment %}
{% section 'index-regimen-section' %}
{% section 'index-testimonials' %}
{% section 'index-instagram-section' %}