<section class="quiz_section pt-5">
     <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="quiz-nav d-flex justify-content-center">
                    <div class="quiz-navigation-item is-active" id="first">
                        <div class="quiz-navigation-number">1</div>
                        <span class="quiz-navigation-label">Describe Your Skin</span>
                    </div>
                    <div class="quiz-navigation-item" id="sec">
                        <div class="quiz-navigation-number">2</div>
                        <span class="quiz-navigation-label">Skin Concerns</span>
                    </div>
                    <div class="quiz-navigation-item" id="third">
                        <div class=quiz-navigation-number>3</div>
                        <span class="quiz-navigation-label">Personal</span>
                    </div>
                    <div class="quiz-navigation-item" id="forth">
                        <div class=quiz-navigation-number>4</div>
                        <span class="quiz-navigation-label">Result</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row quiz-1">
            <div class="col-12">
                <div class="quiz-body">
                    <h2 class="quiz_header">How would you describe your skin?</h2>
                    <span>(Choose 1)</span>
                    <div class="quiz-form-flex-row">
                        <input type="radio" name="option" value="Oily" id="oily">
                        <label for="oily" class="quiz-label" quiz-label="">Oily
                        </label>
                        <input type="radio" name="option" value="combination" id="combination">
                        <label for="combination" class="quiz-label" quiz-label="">Combination
                        </label>
                        <input type="radio" name="option" value="normal" id="normal">
                        <label for="normal" class="quiz-label" quiz-label="">Normal
                        </label>
                        <input type="radio" name="option" value="dry" id="dry">
                        <label for="dry" class="quiz-label" quiz-label="">Dry
                        </label>
                        <input type="radio" name="option" value="sensitive" id="sensitive">
                        <label for="sensitive" class="quiz-label" quiz-label="">Sensitive
                        </label>
                    </div>
                    <p class="error_1">select a option</p>
                    <button type="button" class="quiz-next-button" data-btn="1" id="btn-1" > Next Step
                        <svg width="12px" height="10px" viewBox="0 0 12 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            class="arrow-right-icon">
                            <g id="Quiz" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="BIO_D_Quiz_Step1_v3" transform="translate(-760.000000, -715.000000)" fill="#FFFFFF">
                                    <g id="Button" transform="translate(552.000000, 695.000000)">
                                        <g id="Group-3" transform="translate(119.000000, 13.000000)">
                                            <path d="M97.2104166,8 L100.335417,11.28125 C100.522918,11.4687509 100.616667,11.7083319 100.616667,12 C100.616667,12.2708347 100.522918,12.4999991 100.335417,12.6875 L97.2104166,16 C97.0229157,16.1875009 96.7989596,16.28125 96.5385416,16.28125 C96.2781237,16.28125 96.0541676,16.1875009 95.8666666,16 C95.6791657,15.8124991 95.5854166,15.5729181 95.5854166,15.28125 C95.5854166,14.9895819 95.6791657,14.7500009 95.8666666,14.5625 L97.3666666,13 L90.5854166,13 C90.314582,13 90.0854176,12.9010427 89.8979166,12.703125 C89.7104157,12.5052073 89.6166666,12.2708347 89.6166666,12 C89.6166666,11.7291653 89.7104157,11.4947927 89.8979166,11.296875 C90.0854176,11.0989573 90.314582,11 90.5854166,11 L97.3666666,11 L95.8354166,9.4375 C95.6479157,9.24999906 95.5541666,9.01041813 95.5541666,8.71875 C95.5541666,8.42708187 95.6479157,8.18750094 95.8354166,8 C96.0229176,7.81249906 96.252082,7.71875 96.5229166,7.71875 C96.7937513,7.71875 97.0229157,7.81249906 97.2104166,8 Z"
                                                id="ion-arrow-right-c---Ionicons"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="row quiz-2">
            <div class="col-12">
                <div class="quiz-body">
                    <h2 class="quiz_header">What are your top skin concerns?</h2>
                    <span>(Choose 2)</span>
                    <div class="quiz-form-flex-row">
                        <input class="single-checkbox" type="checkbox"  name="optionArray[]" value="acne" id="acne">
                        <label for="acne" class="quiz-label" quiz-label="">Acne</label>
                        <input class="single-checkbox" type="checkbox" name="optionArray[]" value="pigmentation" id="pigmentation">
                        <label for="pigmentation" class="quiz-label" quiz-label="">Pigmentation</label>
                        <input class="single-checkbox" type="checkbox" name="optionArray[]" value="fine-lines" id="fine-lines">
                        <label for="fine-lines" class="quiz-label" quiz-label="">Fine Lines</label>
                        <input class="single-checkbox" type="checkbox" name="optionArray[]" value="redness" id="redness">
                        <label for="redness" class="quiz-label" quiz-label="">Redness</label>
                        <input class="single-checkbox" type="checkbox" name="optionArray[]" value="dull-skin" id="dull-skin">
                        <label for="dull-skin" class="quiz-label" quiz-label="">Dull Skin</label>
                        <input class="single-checkbox" type="checkbox" name="optionArray[]" value="enlarged-pores" id="enlarged-pores">
                        <label for="enlarged-pores" class="quiz-label" quiz-label="">Enlarged Pores</label>
                        <input class="single-checkbox" type="checkbox" name="optionArray[]" value="flaky-skin" id="flaky-skin">
                        <label for="flaky-skin" class="quiz-label" quiz-label="">Flaky Skin</label>
                        <input class="single-checkbox" type="checkbox" name="optionArray[]" value="daily-care" id="daily-care">
                        <label for="daily-care" class="quiz-label" quiz-label="">Daily Care</label>
                    </div>
                    <p class="error_2">Select two option</p>
                    <button type="button" class="quiz-next-button" id="btn-2">Next Step
                        <svg width="12px" height="10px" viewBox="0 0 12 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            class="arrow-right-icon">
                            <g id="Quiz" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="BIO_D_Quiz_Step1_v3" transform="translate(-760.000000, -715.000000)" fill="#FFFFFF">
                                    <g id="Button" transform="translate(552.000000, 695.000000)">
                                        <g id="Group-3" transform="translate(119.000000, 13.000000)">
                                            <path d="M97.2104166,8 L100.335417,11.28125 C100.522918,11.4687509 100.616667,11.7083319 100.616667,12 C100.616667,12.2708347 100.522918,12.4999991 100.335417,12.6875 L97.2104166,16 C97.0229157,16.1875009 96.7989596,16.28125 96.5385416,16.28125 C96.2781237,16.28125 96.0541676,16.1875009 95.8666666,16 C95.6791657,15.8124991 95.5854166,15.5729181 95.5854166,15.28125 C95.5854166,14.9895819 95.6791657,14.7500009 95.8666666,14.5625 L97.3666666,13 L90.5854166,13 C90.314582,13 90.0854176,12.9010427 89.8979166,12.703125 C89.7104157,12.5052073 89.6166666,12.2708347 89.6166666,12 C89.6166666,11.7291653 89.7104157,11.4947927 89.8979166,11.296875 C90.0854176,11.0989573 90.314582,11 90.5854166,11 L97.3666666,11 L95.8354166,9.4375 C95.6479157,9.24999906 95.5541666,9.01041813 95.5541666,8.71875 C95.5541666,8.42708187 95.6479157,8.18750094 95.8354166,8 C96.0229176,7.81249906 96.252082,7.71875 96.5229166,7.71875 C96.7937513,7.71875 97.0229157,7.81249906 97.2104166,8 Z"
                                                id="ion-arrow-right-c---Ionicons"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
         <div class="row quiz-3">
            <div class="col-12">
                <div class="quiz-body">
                    <h2 class="quiz_header">Personal Information</h2>
                    <div class="col-xl-7 col-lg-7 col-md-8 col-sm-8 col-12 m-auto">
                        <input class="form-control w-100 my-4 pl-3" type="email" name="email" id="email" placeholder="Email" required>
                    </div>
                    <p class="error_3">Plese Provide Your Email..!!</p>
                    <button type="button" class="quiz-next-button" id="btn-3">Next Step
                        <svg width="12px" height="10px" viewBox="0 0 12 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            class="arrow-right-icon">
                            <g id="Quiz" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="BIO_D_Quiz_Step1_v3" transform="translate(-760.000000, -715.000000)" fill="#FFFFFF">
                                    <g id="Button" transform="translate(552.000000, 695.000000)">
                                        <g id="Group-3" transform="translate(119.000000, 13.000000)">
                                            <path d="M97.2104166,8 L100.335417,11.28125 C100.522918,11.4687509 100.616667,11.7083319 100.616667,12 C100.616667,12.2708347 100.522918,12.4999991 100.335417,12.6875 L97.2104166,16 C97.0229157,16.1875009 96.7989596,16.28125 96.5385416,16.28125 C96.2781237,16.28125 96.0541676,16.1875009 95.8666666,16 C95.6791657,15.8124991 95.5854166,15.5729181 95.5854166,15.28125 C95.5854166,14.9895819 95.6791657,14.7500009 95.8666666,14.5625 L97.3666666,13 L90.5854166,13 C90.314582,13 90.0854176,12.9010427 89.8979166,12.703125 C89.7104157,12.5052073 89.6166666,12.2708347 89.6166666,12 C89.6166666,11.7291653 89.7104157,11.4947927 89.8979166,11.296875 C90.0854176,11.0989573 90.314582,11 90.5854166,11 L97.3666666,11 L95.8354166,9.4375 C95.6479157,9.24999906 95.5541666,9.01041813 95.5541666,8.71875 C95.5541666,8.42708187 95.6479157,8.18750094 95.8354166,8 C96.0229176,7.81249906 96.252082,7.71875 96.5229166,7.71875 C96.7937513,7.71875 97.0229157,7.81249906 97.2104166,8 Z"
                                                id="ion-arrow-right-c---Ionicons"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="row quiz-4">
            <div class="col-12">
                <div class="quiz-body">
                    <h2 class="quiz_header">Your results!</h2>
                    <div class="row product collection-shop-section product-section">
                    {% for product in collections.all.products %}
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 text-center product_list" id="{{product.id}}" data-tags="{{product.tags}}">
                            <div class="product-box">
                                <div class="product-img-box">
                                    <a href="{{ product.url | within: collection}}">
                                        <img src="{{ product.featured_image | img_url:'500x' }}" alt="{{ product.title }}">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <a href="{{ product.url | within: collection }}" class="">
                                            <h5>{{ product.title }}</h5>
                                    <p class="pro-price">{{ product.price |  money }}</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% if paginate.next %}
                        <div class="col-12" id="more">
                            <p>
                                <a href="{{ paginate.next.url }}" class="btn-show-more m-auto">Show More</a>
                            </p>
                        </div>
                    {% endif %}
                </div>
                </div>
            </div>
        </div>
    </div> 
</section>