<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div id="max_width" class="modal-dialog" role="document">
    <div class="modal-content">
    <div id="model_div" class="modal-body">
        <div class="def_model">
            <div class="header text-center pt-3">
                <h3>SAVE MONEY & NEVER RUN OUT!</h3>
                <p>Put your skincare products on repeat with auto-ship.</p>
            </div>
            <div class="row pt-4">
                <div class="col-12 col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="text-center">
                        <img class="w-25" src="https://cdn.shopify.com/s/files/1/1251/5761/files/Auto_Ship_Pop_Up_Products.svg" />
                        <h6>SHOP</h6>
                        <p>Choose the products you want to put on auto-ship.</p>
                    </div>
                </div>
                <div class="col-12 col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="text-center">
                        <img class="w-25" src="https://cdn.shopify.com/s/files/1/1251/5761/files/Auto_Ship_Pop_Up_Calendar.svg" />
                        <h6>SCHEDULE</h6>
                        <p>Choose how often you want to receive your auto-ship products.</p>
                    </div>
                </div>
                <div class="col-12 col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="text-center">
                        <img class="w-25" src="https://cdn.shopify.com/s/files/1/1251/5761/files/Auto_Ship_Pop_Up_Cart_Save.svg" />
                        <h6>CHECKOUT & SAVE</h6>
                        <p>Enjoy discounts & free shipping on every order.</p>
                    </div>
                </div>
                <div class="col-12 col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="text-center">
                        <img class="w-25" src="https://cdn.shopify.com/s/files/1/1251/5761/files/Auto_Ship_Pop_Up_Customize.svg" />
                        <h6>CUSTOMIZE ANYTIME</h6>
                        <p>Add, swap and remove products from your next box at any time.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="image_popup">
        <img class="d-block m-auto" src="https://cdn.shopify.com/s/files/1/0102/0379/1457/files/cdn_shopify_com-Clear_Routine_Size_Comparison_1500x1500_600x_794656ac-d7a6-4dc1-86dd-951ba1d489c5_400X.png?v=1577786226" alt="data_not_fount" />
        </div>
    </div>
      <div class="def_model modal-footer">
      <div class="d-flex justify-content-center">
        <p class="mb-0 text-light">Cancel or edit anytime </p>
        <img class="w-3" src="https://cdn.shopify.com/s/files/1/1251/5761/files/Auto_Ship_Pop_Up_Magic_Wand.svg">
         <p class="mb-0 text-light"> You're in control</p>
      </div>
      </div>
    </div>
</div>
</div>