{% comment %} <a href="/" class="navbar-brand mr-7 d-none d-md-block" name="{{ shop.name | escape }}"
    title="{{ shop.name | escape }}" aria-label="{{ shop.name | escape }}">
    {% if settings.main_svg_logo != blank %}
    <img src="{{ settings.main_svg_logo }}" class="img-fluid" alt="{{ shop.name | escape }}"
        style="width: {{ logo_width }}px" />
    {% elsif logo contains 'no-image' %}
    <span class="h5 text-primary"><i class="icon ion-pound text-primary"></i> {{ shop.name | escape }}</span>
    {% else %}
    <img src="{{ logo }}" alt="{{ shop.name | escape }}" class="img-fluid" style="width: {{ logo_width }}px">
    {% endif %}
</a> {% endcomment %}

