<div id="mpopupBox1" class="mpopup">
    <div class="newsletter-content">
        <div class="mpopup-head">
            <svg class="close-model" viewBox="0 0 32 32"><path d="M10,10 L22,22 M22,10 L10,22"></path></svg>
        </div>    
        <div class="row no-gutters align-items-center">
        <div class="col-6 d-none d-md-flex align-items-center justify-content-center">
            <div class="newslettermodal-img">
                <img src="{{ settings.img_main | img_url:'original' }}" alt="{{ 'general.theme.subscribe_us' | t }}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="newslettermodal-content">
                <div class="newslettermodal-content-center">
                    <div class="newslettermodal-content-logo">
                        <img class="desk-logo" src="{{ settings.logo_img | img_url:'original' }}" alt="{{ shop.title }}">
                        <img class="mob-logo" src="{{ settings.logo_img_mob | img_url:'original' }}" alt="{{ shop.title }}">
                    </div>
                    <p class="text_desc text-center">{{ settings.newsletter_popup_desc }}</p>
                    {% form 'customer', class: 'newslettermodal-content-form text-center', id:'newsletter-popup' %}
                    {% if form.posted_successfully? %}
                        <p class="form--success">{{ 'general.newsletter_form.confirmation' | t }}</p>
                    {% else %}
                        <div class="form-group">
                            <input type="hidden" name="contact[tags]" value="newsletter">
                            <input type="email" name="contact[email]"  class="form-control" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="Sign Up"  >
                            {{ form.errors | default_errors }}
                        </div>
                        <button type="submit" class="button-all banner-btn-2  m-0 html5lightbox">Get Coupon</button>
                        <!-- <div class="checkbox-group mt-2">
                            <input type="checkbox" name="newsletter" id="newsLetterCheckBox">
                            <label for="newsLetterCheckBox">{{ 'general.theme.donot_show' | t }}</label>
                        </div> -->
                    {% endif %}
                    {% endform %}
                </div>
            </div>
        </div>
        </div>
    </div>
</div>