.privacy-section {
    .main-content {
        h1 {
            font-weight: 800;
            line-height: 1.2;
            color: #567461;
            font-size: 2.5rem;
            margin-top: 30px;
            text-transform: uppercase;
        }
        .card {
            border: 0px;
            margin-left: 20px;
            .card-header {
                font-size: 16px;
                background: #fff;
                font-weight: 600 !important;
                border-bottom: 1px solid #567461 !important;
                padding: 24px 0;
                &:after {
                    position: absolute;
                    top: 50%;
                    left: -28px;
                    right: auto;
                    margin-top: -17px;
                    padding-left: 0;
                    width: auto;
                    height: 30px;
                    content: '+';
                    font-size: 25px;
                    font-weight: 600;
                    line-height: 30px;
                    transition: all 0s, color 0.2s;
                    color: #567461;
                }
            }
            .border-bottom-none {
                border-bottom: none !important;
            }
            .active {
                &:after {
                    position: absolute;
                    content: '\2013';
                    top: 40px;
                    left: -28px;
                    right: auto;
                    margin-top: -21px;
                    transform: rotate(0deg);
                    font-size: 25px;
                    font-weight: 600;
                    line-height: 30px;
                    transition: all 0s, color 0.2s;
                    color: #567461;
                }
            }
        }
    }
}