.blog_slider {
    .blog_slider_main {
        .article_main {
            .article_image_div {
                position: relative;
                &:before {
                    content: "";
                    position: relative;
                    padding-bottom: 56%;
                    display: block;
                }
                img {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    max-width: 100%;
                    display: block;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .article_header {
                .article_name {
                    font-size: 1.1rem;
                    margin-bottom: 0.5rem;
                    font-weight: 800;
                    line-height: 1.2;
                    color: #74956c;
                    &:hover {
                        color: darken(#74956c, 15);
                    }
                }
            }
        }
    }
}