.acc {
    h1 {
        font-size: 2.5rem;
    }
    .form-control {
        background-color: transparent;
        background-color: #fff;
        border: 2px solid rgba(116, 149, 108, 0.4);
        outline: none;
        width: 100%;
        background: none;
        color: #000;
        margin-bottom: 15px;
        border-radius: 0;
        padding: 20px;
        &:focus {
            background: none;
            border: 2px solid rgba(116, 149, 108, 0.8);
            box-shadow: none;
        }
    }
    .frm-btn {
        background: $indigo;
        cursor: pointer;
        border: 2px solid $indigo;
        padding: 10px 30px;
        color: $white;
        text-transform: uppercase;
        outline: none;
        font-weight: 500;
        border-radius: 30px;
        &:hover {
            background: $black;
            color: $white !important;
            text-decoration: none;
            border: 2px solid $black;
        }
    }
    .cnl {
        background-color: transparent;
        color: $indigo;
        border: 0;
    }
}

.contact-form {
    p {
        font-size: 14px;
    }
}

@media only screen and (max-width:768px) {
    .acc {
        h1 {
            font-size: 2rem;
        }
    }
}

@media only screen and (max-width:480px) {
    .acc {
        h1 {
            font-size: 1.5rem;
        }
    }
}