.addresses {
    h1 {
        font-size: 2.5rem;
    }
    .badge-warning {
        color: #fff !important;
        background-color: $indigo !important;
    }
    .form-control {
        background-color: #fff;
        border: 2px solid rgba(116, 149, 108, 0.4);
        outline: none;
        background: none;
        color: #000;
        margin-bottom: 15px;
        border-radius: 0;
        padding: 20px;
        &:focus {
            background: #fff;
            border: 2px solid rgba(116, 149, 108, 0.8);
            box-shadow: none;
        }
    }
    .select-control {
        height: inherit;
        padding-top: 9px;
        padding-bottom: 9px;
    }
    input[type=checkbox] {
        position: relative;
        cursor: pointer;
    }
    input[type=checkbox]:before {
        content: "";
        display: block;
        position: absolute;
        width: 16px;
        height: 16px;
        top: 0;
        left: 0;
        border: 2px solid $indigo;
        border-radius: 3px;
        background-color: #fff;
    }
    input[type=checkbox]:checked:after {
        content: "";
        display: block;
        width: 5px;
        height: 10px;
        border: solid $indigo;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 2px;
        left: 6px;
    }
    .card {
        min-height: 250px;
        border: 1px solid $indigo;
        color: #000 !important;
        border-radius: 2px;
        .card-header {
            color: $indigo;
            background-color: #fff;
            border-bottom: 1px solid $indigo;
        }
        .card-footer {
            background-color: #fff;
            border-top: 1px solid $indigo;
        }
        .card-link {
            &:hover {
                color: $indigo !important;
            }
        }
    }
    .list-group-item {
        background-color: transparent;
        background-color: #fff;
        color: $indigo !important;
        outline: auto;
        &:hover {
            outline: 1px solid #74956c;
            background-color: $indigo;
            color: #fff !important;
        }
    }
    .cnl {
        background-color: transparent;
        color: $indigo;
        border: 0;
    }
    .card-link {
        color: $indigo !important;
    }
}

@media only screen and (max-width:480px) {
    .addresses {
        .card-body {
            .form-group {
                margin-bottom: 0;
                input[type=text] {
                    width: 100%;
                    margin-bottom: 15px !important;
                    margin-top: 0 !important;
                }
                textarea {
                    width: 100%;
                    margin-bottom: 15px !important;
                    margin-top: 0 !important;
                }
                select {
                    width: 100%;
                    margin-bottom: 15px !important;
                    margin-top: 0 !important;
                }
                input[type=tel] {
                    width: 100%;
                    margin-bottom: 15px !important;
                    margin-top: 0 !important;
                }
            }
        }
    }
}

@media only screen and (max-width:768px) {
    .addresses {
        h1 {
            font-size: 2rem;
        }
    }
}

@media only screen and (max-width:480px) {
    .addresses {
        h1 {
            font-size: 1.5rem;
        }
    }
}