.order-history {
    h1 {
        font-size: 2.5rem;
    }
    .table {
        white-space: nowrap;
        tr:last-child {
            td {
                border-bottom: 1px solid #dee2e6;
            }
        }
    }
    .table-hover {
        tbody {
            tr {
                &:hover {
                    color: $white;
                    background-color: rgba(116, 149, 108, 0.9);
                    td {
                        a {
                            color: $white !important;
                        }
                    }
                }
            }
        }
    }
    a {
        color: $indigo !important;
        &:hover {
            color: $white !important;
        }
    }
    .list-group-item {
        background-color: transparent;
        background-color: #fff;
        color: $indigo !important;
        outline: auto;
        &:hover {
            background-color: $indigo;
            color: #fff !important;
        }
    }
    .alert {
        background: rgba(116, 149, 108, 0.8);
        color: #fff !important;
    }
}

@media only screen and (max-width:768px) {
    .order-history {
        h1 {
            font-size: 2rem;
        }
    }
}

@media only screen and (max-width:480px) {
    .order-history {
        h1 {
            font-size: 1.5rem;
        }
    }
}