.footer {
  background:$white;
  .fst-col {
    img {
      width: 80%;
      margin-bottom: 16px;
    }

    ul {
      li {
        a {
          color: rgba($black, 0.6);

          &:hover {
            color: $indigo;
          }

          i {
            font-size: 26px;
          }
        }
      }
    }
  }

  .footer-btm {
    border-top: 1px solid rgba($indigo, 0.4);
  }
}

@media only screen and (max-width: 767px) {
  .footer {
    .fst-col {
      img {
        width: 60%;
      }

      ul {
        max-width: fit-content;
        margin: auto;
        margin-bottom: 20px !important;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .footer {
    .fst-col {
      img {
        width: 60%;
      }

      ul {
        max-width: fit-content;
        margin: auto;
        margin-bottom: 20px !important;
      }
    }
  }

}