.header {
  border-bottom:1px solid rgba($indigo, .3);
  .annucement-bar {
    padding: 11px;
    background: $black;
    p {
      font-size: 11px;
    }
    
  }
  .main-header {
    .desktop-menu {
      .toggle-btn {
        background: none;
        border: 1px solid $indigo;
        color: $black;
        padding: 3px 10px;
        font-size: 20px;
        border-radius: 5px;
        outline: none;
      }
      .img-div {
        .logo-img {
          width: 70%;
        }
      }
      .right-menu {
        .ul-right-menu {
          li {
            display: inline-block;
            padding: 0px 10px;
            &:last-child {
              padding-right: 0;
            }
            a {
              font-size: 21px;
            }
          }
        }
      }
      .main-menu {
        .menu-ul {
          li {
            display: inline-block;
            margin: 0px 12px;
            padding: 40px 0;
            &:last-child {
              margin-right: 0;
              margin-left: 5px;
            }
            a {
              font-weight: 500;
              font-size: 16px;
              i {
                font-size: 21px;
              }
            }
          }
        }
      }
    }
  }
  .mobile-menu {
    display: block !important;
    position: fixed;
    margin: 0;
    width: 100%;
    background:$indigo;
    top: 140px;
    bottom: 0;
    z-index: 10000;
    transition: all ease-in-out 0.5s;
    left: -100%;
    overflow: hidden;
    // box-shadow: 0px 0px 10px 5px rgba($black, .3);
    .tab-div{
      background: #f2f1ed;
      .tab-ul-menu{
        padding-left:0;
        display: flex;
        margin-bottom:0;
        list-style:none;
        li{
          width:50%;
          cursor: pointer;
          padding:15px 0;
          a{
            text-align: center;
            text-transform: uppercase;
            font-weight: 700;
            display:block;
            width: max-content;
            margin: auto;
          }
        }
        .is-active{
          a{
            color:$indigo;
            position: relative;
            &::before{
              content:'';
              position: absolute;
              width:100%;
              border:1px solid $indigo;
              display: block;
              bottom:-2px;
            }
          }
        }
      }
    }
    .mobile-menu-head {
      position: absolute;
      right: 0;
      background:$indigo;
      p {
        // padding: 10px 15px 0px;
        font-size: 32px;
        line-height: 52px;
        font-weight: 600;
        text-align: right;
        margin-left: auto;
        width:52px;
        height:52px;
        cursor: pointer;
        text-align: center;
      }
    }
    .mobile-menu-div {
      background: $indigo;
      height: 100%;
      position: absolute;
      width: 100%;
      left: 0;
      transition: .7s;
      padding:15px;
      ul {
        li {
          padding: 10px 15px;
          border-bottom: 1px solid rgba($indigo, .1);
          a {
            display: block;
            font-weight: 500;
            color:$white;
            font-size: 19px;
          }
        }
      }
    }
    .mobile-learnmenu-div {
      background: $indigo;
      height: 100%;
      position: absolute;
      width: 100%;
      right:-100%;
      transition: .7s;
      padding:15px;
      ul {
        li {
          padding: 10px 15px;
          border-bottom: 1px solid rgba($indigo, .1);
          a {
            display: block;
            font-weight: 500;
            color:$white;
            font-size: 19px;
          }
        }
      }
    }
  }
}

// @media only screen and (min-width: 992px) and (max-width:1199px){
// }
@media only screen and (max-width: 991px) and (min-width:768px) {
  .header {
    .main-header {
      .desktop-menu {
        padding: 15px;
        .img-div {
          text-align: center;
          .logo-img {
            width: 48%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .header {
    .main-header {
      .desktop-menu {
        padding: 15px;
        .toggle-btn {
          font-size: 17px;
        }
        .img-div {
          text-align: center;
          .logo-img {
            width: 75%;
          }
        }
        .right-menu {
          .ul-right-menu {
            padding-top:16px;
            li {
              display: inline-block;
              padding: 0px 7px;
              &:last-child {
                padding-right: 0;
              }
              a {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
    .mobile-menu{
      top: 178px;
    }
  }
}
@media only screen and (max-width: 480px) {
  .header{
    .mobile-menu{
      top: 120px;
    }
  }
  
}
@media only screen and (max-width: 375px) {
  .header {
    .annucement-bar {
      p {
        font-size: 9px;
      }
    }
    .mobile-menu{
      top: 111px;
      .mobile-menu-div{
        ul{
          li{
            padding: 7px 15px;
            a{
              font-size: 17px;
            }
          }
        }
      }
    }
    .img-div {
      .logo-img {
        width: 85%;
      }
    }
  }
}
@media only screen and (max-width: 320px) {
  .header{
    .mobile-menu{
      top: 104px;
    }
  }
  
}