body {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    overflow-x: hidden !important;
    // @font-face {
    //   font-family: "Montserrat";
    //   src: url("../../font/Montserrat-Regular.ttf") format("ttf"),
    //     url("../../font/Montserrat-Regular.woff") format("woff"),
    //     url("../../font/Montserrat-Regular.woff2") format("woff2"),
    //     url("../../font/Montserrat-Regular.eot") format("eot"),
    //     url("../../font/Montserrat-Regular.otf") format("otf");
    // }
    .button-all {
        background: $indigo;
        cursor: pointer;
        border: 2px solid $indigo;
        padding: 10px 30px;
        color: $white;
        text-transform: uppercase;
        outline: none;
        font-weight: 500;
        border-radius: 30px;
        &:hover {
            background: $black;
            color: $white !important;
            text-decoration: none;
            border: 2px solid $black;
        }
    }
    a.button-all {
        display: block;
        width: max-content;
        margin: auto;
    }
    .banner-btn {
        &:hover {
            background: $black;
            color: $white !important;
            border: 2px solid $black;
        }
    }
    .banner-btn-2 {
        background: $black;
        border: 2px solid $black;
        &:hover {
            background: $indigo;
            color: $black !important;
            border: 2px solid $indigo;
        }
    }
     ::selection {
        background: rgba($indigo, .7);
        color: $white;
    }
    .okeReviews .okeReviews-reviewsTab {
        display: none;
    }
    // .smile-launcher-frame,.smile-launcher-frame-container{
    //   display:none !important;
    // }
    // .mobile{
    //   .frame-content{
    //     #button{
    //       .buttonWave{
    //         display:none !important;
    //       }
    //     }
    //   }
    // }
    #loyaltylion .lion-loyalty-widget_position_left {
        display: none !important;
    }
    .poll-div {
        position: fixed;
        z-index: 1000;
        opacity: 0;
        top: auto !important;
        bottom: 0px;
        right: 0px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        pointer-events: none;
        transition: opacity 0.5s;
        color: $white;
        line-height: 50px;
        font-size: 30px;
    }
    .poll-div.is-visible {
        background: rgba(256, 256, 256, 0.8);
        bottom: 30px;
        opacity: 1;
        right: 190px;
        pointer-events: all;
        color: $indigo;
        .fa {
            color: $indigo;
        }
    }
    .back-to-top {
        position: fixed;
        z-index: 1000;
        opacity: 0;
        top: auto !important;
        bottom: 0;
        left: 30px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        text-align: center;
        pointer-events: none;
        transition: opacity 0.5s;
        color: $white;
        line-height: 60px;
        font-size: 35px;
    }
    .back-to-top.is-visible {
        opacity: 1;
        bottom: 65px;
        pointer-events: all;
        color: $indigo;
    }
    .hide {
        display: none;
    }
    .show {
        display: block;
    }
}

.bg_darkgreen {
    background: #567461;
}

.fixed {
    position: fixed;
    left: 0;
    top: 30%;
    width: 128px;
    height: 38px;
    line-height: 19px;
    font-size: 12px;
    font-weight: 800;
    border-radius: 0 10px 10px 0px;
    z-index: 9999;
    background: $indigo;
    color: #fff !important;
    text-align: center;
    border: none;
    line-height: 38px;
}

.slick-dots {
    bottom: -40px !important;
    li {
        margin: 0 0px !important;
        button {
            &::before {
                content: '' !important;
                background: $indigo;
                border-radius: 50%;
                width: 10px !important;
                height: 10px !important;
                opacity: .2;
            }
        }
        .slick-active {
            button {
                &::before {
                    opacity: 1 !important;
                }
            }
        }
    }
}

#autoketing-currency-convert-instance {
    .top-right {
        top: 79px !important;
        right: 20px !important;
    }
}

#autoketing-currency-convert-instance {
    .autoketing-currency-convert-custom-select {
        position: absolute !important;
        z-index: 99999 !important;
    }
}

#autoketing-currency-convert-instance {
    .autoketing-currency-convert-custom-select {
        .autoketing-currency-convert-currency-selected {
            box-shadow: none !important;
            &:hover {
                box-shadow: none !important;
            }
        }
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    body {
        #autoketing-currency-convert-instance {
            .top-right {
                top: 107px !important;
                right: 20px !important;
            }
        }
        #autoketing-currency-convert-instance {
            .autoketing-currency-convert-custom-select {
                position: absolute !important;
                z-index: 99999 !important;
            }
        }
        #autoketing-currency-convert-instance {
            .autoketing-currency-convert-custom-select {
                .autoketing-currency-convert-currency-selected {
                    box-shadow: none !important;
                    &:hover {
                        box-shadow: none !important;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .container {
        max-width: 100%;
    }
    h1,
    .h1 {
        font-size: 3rem;
    }
    h3,
    .h3 {
        font-size: 2rem;
    }
    h5,
    .h5 {
        font-size: 1.1rem;
    }
    body {
        #autoketing-currency-convert-instance {
            .top-right {
                top: 74px !important;
                right: 12% !important;
            }
        }
        #autoketing-currency-convert-instance {
            .autoketing-currency-convert-custom-select {
                position: absolute !important;
                z-index: 99999 !important;
            }
        }
        #autoketing-currency-convert-instance {
            .autoketing-currency-convert-custom-select {
                .autoketing-currency-convert-currency-selected {
                    box-shadow: none !important;
                    &:hover {
                        box-shadow: none !important;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    body {
        overflow-x: hidden !important;
        .back-to-top.is-visible {
            left: unset;
            right: 30px;
        }
    }
    .poll-div.is-visible {
        bottom: 65px !important;
        left: 20px !important;
        right: auto !important;
    }
    #zigpoll-launcher-frame {
        bottom: 110px !important;
        left: 10px !important;
        right: 0px !important;
    }
    .container {
        max-width: 100%;
    }
    .fixed {
        bottom: 0px;
        width: 50%;
        height: 45px;
        line-height: 25px;
        font-size: 17px;
        font-weight: 800;
        border-radius: 0;
        z-index: 999999;
        top: inherit;
        right: 0px;
        left: unset;
    }
    .open-newsletter {
        .fixed {
            bottom: 440px !important;
        }
    }
    .padding-15 {
        padding: 0px 10px !important;
    }
    body {
        #autoketing-currency-convert-instance {
            .top-right {
                top: 44px !important;
                right: 3% !important;
            }
        }
        #autoketing-currency-convert-instance {
            .autoketing-currency-convert-custom-select {
                position: absolute !important;
                z-index: 99999 !important;
                background: none;
            }
        }
        .autoketing-currency-convert-custom-select {
            .currency-flags-round {
                .currency-flags-United-States {
                    width: 20px !important;
                    height: 20px !important;
                }
            }
        }
        .ak-ml-3 {
            font-size: 13px !important;
        }
        #autoketing-currency-convert-instance {
            .autoketing-currency-convert-custom-select {
                .autoketing-currency-convert-currency-selected {
                    box-shadow: none !important;
                    &:hover {
                        box-shadow: none !important;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 595px) {
    .open-newsletter {
        .fixed {
            bottom: 450px !important;
        }
    }
}

@media only screen and (max-width: 480px) {
    h3,
    .h3 {
        font-size: 22px;
    }
}

@media only screen and (max-width: 411px) {
    .open-newsletter {
        .fixed {
            bottom: 470px !important;
        }
    }
}

@media only screen and (max-width: 375px) {
    body {
        font-size: 14px;
        h1,
        .h1 {
            font-size: 3rem;
        }
        h3,
        .h3 {
            font-size: 18px;
        }
        h5,
        .h5 {
            font-size: 1.1rem;
        }
        .banner-btn {
            margin-bottom: 20px;
            margin-right: 0 !important;
        }
    }
    .open-newsletter {
        .fixed {
            bottom: 470px !important;
        }
    }
}

@media only screen and (max-width: 320px) {
    .open-newsletter {
        .fixed {
            bottom: 470px !important;
        }
    }
}