.banner-section {
    .banner-div {
        min-height: 600px;
        position: relative;
        display: flex;
        align-items: center;

        img {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            margin: auto;
            object-fit: cover;
            object-position: center;
            max-width: 100%;
            height: 100%;
        }

        .banner-content {
            padding-left: 50px;
        }
    }
    a.button-all{
        display: inline-block;
        width:max-content;
    }
}

@media only screen and (max-width: 767px) {
    .banner-section {
        .banner-div {
            display: block;
            overflow-x: hidden;
            min-height:auto;
            img {
                position: relative;
                object-fit: unset;
                object-position: unset;
                max-width: 153%;
                height: unset;
            }

            .container {
                background: $teal;
                padding: 30px 15px;
            }

            .banner-content {
                padding-left: 0px;
            }
        }
    }
}

@media only screen and (max-width:375px) {}