.free-shiping-section {
    .free-shipping-content {
        background: rgba($white, .5);
        padding: 20px;
        color: $white;
        text-align: center;

        .content {
            border: 1px solid $white;
            padding: 15px;

            h5 {
                width: max-content;
                padding: 10px;
                margin: 15px auto;
            }
        }
    }
}