.ingredient-section {
    padding: 50px 0;
    .title {
        color: #567461;
        font-size: 45px;
        font-weight: 800;
    }
    .semi-title-row {
        .bg-tag {
            font-size: 25px;
            color: #fff;
            background: #567461;
            padding: 2px 20px;
            letter-spacing: 5px;
        }
        .tab_tag {
            color: #567461;
            font-size: 33px;
            font-weight: 700;
            letter-spacing: 4px;
            line-height: 37px;
            margin-bottom: 0;
        }
    }
    .left-border {
        border-left: 2px solid #567461;
    }
    .ingredients-box {
        position: relative;
        margin-bottom: 30px;
        &:hover {
            .ingredients_img {
                img {
                    transform: scale(1.2);
                }
            }
        }
        .ingredients_img {
            position: relative;
            overflow: hidden;
            margin-bottom: 15px;
            &::before {
                content: "";
                width: 100%;
                padding-top: 75%;
                display: block;
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                width: 100%;
                object-fit: cover;
                object-position: center;
                transition: .5s;
            }
        }
        .ingredients_content {
            h6 {
                margin-bottom: 0;
                font-size: 15px;
                font-weight: 600;
                line-height: 1.3;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .ingredient-section {
        padding-top:0;
        padding-bottom:30px;
        .left-border {
            border-left:none;
            padding-left:0;
        }
    }
}