.instfeed {
    background:$purple;
  .icon-insta{
    font-size:32px;
  }
  .instra-main {
    .insta_post {
      position: relative;
      height: 234px;
      overflow: hidden;
      padding: 0;

      &:nth-child(2n) {
        margin-top: 50px;
      }

      .insta_post_img {
        img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          width: 100%;
          height: 100%;
          padding: 7px;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .instfeed {
    .instra-main {
      .insta_post {
        height: 200px;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .instfeed {
    .instra-main {
      .insta_post {
        height: 138px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .instfeed {
    .instra-main {
      .insta_post {
        height: 170px;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .instfeed {
    .instra-main {
      display: block;

      .insta_post {
        display: inline-block;
        width: calc(45% - 7px);

        &:nth-last-child(1) {
          display: none;
        }

        &:nth-child(2n) {
          margin-top: 0px;
        }
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .instfeed {
    .instra-main {
      .insta_post {
        height: 125px;
      }
    }
  }
}