    .mpopup {
        display: none;
        position: fixed;
        z-index: 99999;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    
    .mob-logo {
        display: none;
    }
    
    .newsletter-content {
        width: 669px;
        position: fixed;
        right: 0;
        top: 23%;
        background: $white;
        box-shadow: 0px 0px 10px rgba(#000, .3);
        svg {
            fill: transparent;
            opacity: .8;
            stroke: currentColor;
            stroke-width: 1.5;
            transition: stroke .1s;
            width: 50px;
            cursor: pointer;
        }
        .mpopup-head {
            background-color: $indigo;
            color: white;
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 99;
        }
        .newslettermodal-img {
            img {
                width: 100%;
                max-width: 100%;
            }
        }
        .newslettermodal-content {
            padding: 20px;
            .newslettermodal-content-logo {
                text-align: center;
                img {
                    width: 58%;
                    margin-bottom: 15px;
                }
            }
        }
        .form-group {
            .form-control {
                margin: auto;
                background: none;
                border-radius: 0;
                color: $black;
                border-color: rgba($indigo, .5);
                &:focus {
                    box-shadow: none;
                    border-color: rgba($indigo, 1);
                }
            }
            .radio-ul {
                padding-left: 0;
                margin-bottom: 0;
                list-style: none;
                margin-top: 10px;
                li {
                    display: inline-block;
                    width: 115px;
                    margin-right: 10px;
                    .custome-option {
                        position: relative;
                        margin-bottom: 10px;
                        input {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                            left: 0;
                            top: 0;
                            cursor: pointer;
                        }
                        .concern-label {
                            border: 2px solid rgba($indigo, .2);
                            p {
                                margin-bottom: 0;
                                padding: 10px;
                                font-weight: 500;
                                text-align: center;
                            }
                        }
                        &:hover {
                            input~.concern-label {
                                border: 2px solid rgba($indigo, 1);
                                P {
                                    color: $indigo;
                                }
                            }
                        }
                        input {
                            &:checked~.concern-label {
                                border: 2px solid rgba($indigo, 1);
                                P {
                                    color: $indigo;
                                }
                            }
                        }
                    }
                }
            }
        }
        #k_id_email {
            margin: auto;
            margin-top: 10px;
            margin-bottom: 10px;
            width: 90%;
        }
        .coupan_main {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .coupan_code {
            padding-bottom: 26px;
        }
        // .title_main,  .setup-content-1,
        // .setup-content-2,
        .setup-content-3 {
            text-align: left;
            display: none;
        }
        .setup-content-1,
        .setup-content-2,
        .setup-content-3 {
            padding-left: 30px;
            padding-right: 30px;
        }
        .nextBtn {
            margin-bottom: 10px;
        }
        .title_main {
            padding-top: 18px;
        }
        .email_error,
        .error_1,
        .error_2,
        .error_3 {
            display: none;
            color: $indigo;
            margin: 10px 0px;
        }
        .thank_you {
            margin-top: 40px;
        }
        #progressbar {
            // display: none;
            margin: auto;
            padding: 0px;
            margin-top: 5px;
            margin-bottom: 5px;
            overflow: hidden;
            color: lightgrey;
            text-align: center;
            width: 85%;
        }
        #progressbar .active {
            color: #000000
        }
        #progressbar li {
            list-style-type: none;
            font-size: 12px;
            // width: 33.33%;
            width: 50%;
            float: left;
            position: relative;
        }
        #progressbar li:before {
            width: 50px;
            height: 50px;
            line-height: 45px;
            display: block;
            font-size: 18px;
            color: #ffffff;
            background: lightgray;
            border-radius: 50%;
            margin: 0 auto 10px auto;
            padding: 2px;
            position: relative;
            z-index: 18 !important;
        }
        #progressbar .active {
            color: #000000;
        }
        #progressbar #question_1:before {
            font-family: FontAwesome;
            content: "\f128";
        }
        #progressbar #question_2:before {
            font-family: FontAwesome;
            // content: "\f128"
            content: "\f003";
        }
        #progressbar #coupan:before {
            font-family: FontAwesome;
            content: "\f06b";
        }
        #progressbar li:after {
            content: '';
            width: 100%;
            height: 2px;
            background: lightgray;
            position: absolute;
            left: 0;
            top: 25px;
            z-index: -1;
        }
        #progressbar li.active:before,
        #progressbar li.active:after {
            background: $indigo;
            z-index: 2;
        }
    }
    /* add animation effects */
    
    @-webkit-keyframes animatetop {
        from {
            top: -300px;
            opacity: 0;
        }
        to {
            top: 0;
            opacity: 1
        }
    }
    
    @keyframes animatetop {
        from {
            top: -300px;
            opacity: 0;
        }
        to {
            top: 0;
            opacity: 1;
        }
    }
    
    @media only screen and (max-width: 767px) {
        .newsletter-content {
            width: 100%;
            right: 0;
            top: unset;
            bottom: 0;
            background: #566752;
            height: 440px;
            .email_error,
            .error_1,
            .error_2,
            .error_3 {
                color: rgba($white, 1);
            }
            #progressbar {
                margin-top: 10px;
                margin-bottom: 10px;
            }
            .thank_you {
                color: rgba($white, 1);
                margin-top: 10px;
            }
            strong {
                color: rgba($white, 1);
            }
            textarea {
                color: rgba($white, 1);
            }
            .coupan_main {
                padding-top: 36px;
                padding-bottom: 23px;
            }
            h6 {
                font-size: 15px;
                color: rgba($white, 1);
            }
            #progressbar li:before {
                width: 35px;
                height: 35px;
                line-height: 35px;
            }
            #progressbar li:after {
                top: 18px;
            }
            .desk-logo {
                display: none;
            }
            .mob-logo {
                display: block;
            }
            .mpopup-head {
                background: none;
            }
            .form-group {
                .form-control {
                    color: $white;
                    &::placeholder {
                        color: rgba($white, .3);
                    }
                }
                .radio-ul {
                    li {
                        width: 100px;
                        font-size: 14px;
                        .custome-option {
                            margin-bottom: 10px;
                            .concern-label {
                                border: 2px solid rgba($white, .3);
                                p {
                                    color: rgba($white, .5);
                                }
                            }
                            &:hover {
                                input~.concern-label {
                                    border: 2px solid rgba($white, 1);
                                    P {
                                        color: $white;
                                    }
                                }
                            }
                            input {
                                &:checked~.concern-label {
                                    border: 2px solid rgba($white, 1);
                                    P {
                                        color: $white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .text_desc {
                color: rgba($white, .5);
            }
            .coupan_code {
                border: 1px solid rgba($white, .5);
                padding: 15px 0;
                text-align: center;
                color: rgba($white, 1);
            }
            .newslettermodal-content {
                padding: 20px;
                padding-bottom: 10px;
                .newslettermodal-content-logo {
                    text-align: center;
                    img {
                        width: 37%;
                        margin-bottom: 15px;
                    }
                }
            }
            .title_main {
                .title {
                    color: #fff;
                }
            }
        }
    }
    
    @media only screen and (max-width: 595px) {
        .newsletter-content {
            height: 470px;
            .title_main {
                padding-top: 10px;
                title {
                    font-size: 16px;
                }
            }
            #k_id_email {
                margin-top: 5px;
                margin-bottom: 5px;
            }
            h6 {
                font-size: 13px;
            }
        }
    }
    
    @media only screen and (max-width: 480px) {
        .newsletter-content {
            .button-all {
                font-size: 14px;
                padding: 10px 10px;
            }
            .newslettermodal-content {
                .newslettermodal-content-logo {
                    img {
                        width: 50%;
                        margin: auto;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
    
    @media only screen and (max-width: 320px) {
        .newsletter-content {
            height: 470px;
            .newslettermodal-content-logo {
                padding-top: 24px;
            }
        }
    }