.news_letter {
    margin-bottom: -35px;
    padding-top: 20px;
    background:$purple;
    .bg-orange {
      border-radius: 10px;
      background:$white;
    }
    input {
      border-radius: 20px !important;
      background-color: $white;
      border: 2px solid rgba($indigo, 0.4);
      z-index:99;
      position: relative;
      &:focus {
        background: none;
        border: 2px solid rgba($indigo, 0.8);
        box-shadow: none;
      }
    }
    button {
      border-radius: 20px !important;
      padding: 0px 22px;
      margin-left: -104px;
      background: $indigo;
      color: $white;
      position: relative;
      z-index:999 !important;
      &:hover {
        background: #9caf88;
        color: $white;
      }
    }
  }