.order-popup-mian {
    position: fixed;
    bottom: 15px;
    left: 30px;
    background: #EBEBEB;
    z-index: 99999999999;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .3);
    transition: all 1s ease;
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    animation-name: up-down;
    animation-duration: 10s;
    animation-delay: 5s;
    animation-iteration-count: infinite;

    .close-btn {
        position: absolute;
        right: 5px;
        top: 5px;
        width: 15px;
        height: 15px;
        text-align: center;
        cursor: pointer;
        z-index: 99;

        span {
            color: #5b5b5b;
            font-size: 25px;
            display: block;
            line-height: 15px;
        }

        &:hover {
            span {
                color: #e0b620;
            }
        }
    }

    .order-img-div {
        padding: 0;

        img {
            width: 100%;
        }
    }

    .order-content-div {
        color: #5b5b5b;
        border-left: 5px solid #BA2F4B;

        p {
            margin-bottom: 7px;
            font-size: 15px;
            color: #000;
        }

        a {
            color: #4E738C;
            font-size: 15px;
            font-weight: 600;
        }
    }
}

@keyframes up-down {
    0% {
        bottom: -150px;
    }

    20% {
        bottom: 15px;
    }

    40% {
        bottom: 15px;
    }

    60% {
        bottom: 15px;
    }

    80% {
        bottom: -150px;
    }

    100% {
        bottom: -150px;
    }
}

@media only screen and (max-width: 480px) {
    .order-popup-mian {
        width: 97%;
        left: 5px;
        bottom: 10px;
    }
}