.our_team{
    .member_img_div{
        width:150px;
        height:150px;
        border-radius:50%;
        overflow: hidden;
        margin: auto;
        img{
            width:100%;
            object-fit: cover;
            height: 100%;
        }
    }
    .member_mard{
        // border: 1px solid;
        padding:15px;
        .mem_name{
            margin-bottom: 0px;
        }
        // .s-text{
        // }
        .social_icon{
            margin-bottom:0;
            list-style:none;
            padding-left:0;
            li{
                display:inline-block;
                width:30px;
                height:30px;
                border-radius:50%;
                background:#F7EAE2;
                margin-right:5px;
                a{
                    text-align: center;
                    line-height:30px;
                    color:#404040;
                    display:block;
                }
                &:hover{
                    background:$indigo;
                    a{
                        color:#fff;
                    }
                }
            }
        }
    }
}