.product-value {
    background-color: #f7f7f7;
    margin: 50px 0px;
    .top_head {
        font-size: 20px;
        margin-bottom: 25px;
        display: inline-block;
    }
    .product-col {
        padding: 60px 50px;
        .content-body {
            margin-top: 20px;
            .title {
                font-size: 15px;
                line-height: 1.25;
                font-weight: 600;
                margin-bottom: 0;
            }
            .sub_title {
                font-size: 13px;
                font-weight: 500;
            }
            .body_text {
                font-size: 12px;
                line-height: 1.3;
                margin-bottom: 0;
            }
            .real-val {
                ul {
                    list-style: none;
                    padding: 0;
                    li {
                        margin-bottom: 10px;
                        img {
                            padding-right: 10px;
                        }
                    }
                }
            }
        }
        .pro_list {
            margin-top: 10px;
            ul {
                padding-left: 20px;
                li {
                    font-size: 14px;
                }
            }
        }
    }
    .bg_gray {
        background-color: #d6d2c4;
    }
    .accordian_div {
        display: none;
        .top_head {
            margin: 0;
        }
        .content-body {
            margin-top: 20px;
            .title {
                font-size: 15px;
                line-height: 1.25;
                font-weight: 600;
                margin-bottom: 0;
            }
            .sub_title {
                font-size: 13px;
                font-weight: 500;
            }
            .body_text {
                font-size: 12px;
                line-height: 1.3;
                margin-bottom: 0;
            }
            .real-val {
                ul {
                    list-style: none;
                    padding: 0;
                    li {
                        margin-bottom: 10px;
                        img {
                            padding-right: 10px;
                        }
                    }
                }
            }
        }
        .accordion .card-header:after {
            font-family: 'FontAwesome';
            content: "\f068";
            float: right;
        }
        .accordion .card-header.collapsed:after {
            /* symbol for "collapsed" panels */
            content: "\f067";
        }
    }
}

@media only screen and (max-width: 850px) {
    .full-wid {
        display: none;
    }
    .accordian_div {
        display: block !important;
    }
    .product-value {
        background-color: #ffffff;
    }
}