.product-detail-section {
    .timer_wrapper {
        font-size: 24px;
        text-align: center;
        .timer_main{
            display: inline-flex;
            
            .divider{
                color:#212B35;
                display:inline;
                margin:0 4px;     
                   }
        .timer {
            background-color: #74956c;
            color: #fff;
            width: 46px;
            padding: 3px;
            margin: 0px;
            margin-left: 5px;
            margin-right: 5px;
            border-radius: 5px;
            height: 40px;
        }
    }
    }
    .watch_wrapper{
        margin: 16px 0;
        text-align: left;
        font-size: 13px;
        color: #212B35;
        font-family: inherit;
        line-height: 1.5;
        font-weight: 400;
        .content{
            display: inline;
            margin: 0;
            padding: 0;
            color: inherit;
            font-family: inherit;
        }
    }
    // Recharge block
    .rc_block__type__onetime {
        border: 2px solid #74956c;
        border-bottom: 0;
        label.rc_label {
            padding-left: 40px;
            width: 100%;
            color: #74956c;
            font-weight: bolder;
        }
    }
    .rc_block__type {
        width: 100%;
        margin: 0;
        border-radius: 0;
        padding: 15px 10px 10px 10px;
        label.rc_label_bef {
            padding-left: 40px;
            width: 100%;
            color: #74956c;
            font-weight: bolder;
            &::before {
                content: "";
                position: absolute;
                padding: 0 0 0 0;
                background: url('https://cdn.shopify.com/s/files/1/0102/0379/1457/files/PDP_Icon_Check_Mark_Off.png?v=1577699931') no-repeat;
                height: 25px;
                width: 25px;
                background-size: 100%;
                display: block;
                z-index: 1;
                cursor: pointer;
            }
        }
        input[name="purchase_type"]:checked~ {
            label.rc_label_bef {
                &::before {
                    background: url('https://cdn.shopify.com/s/files/1/0102/0379/1457/files/PDP_Icon_Check_Mark_On.png?v=1577699931') no-repeat;
                    background-size: 100%;
                }
            }
        }
    }
    .rc_label__delivery {
        display: block;
        text-align: center;
    }
    .product-details__membership-link {
        display: block;
        text-align: center;
    }
    .rc_block__type__autodeliver {
        border: 2px solid #74956c;
    }
    .rc_custom_saving_msg {
        font-size: 19px;
        color: #c6a992;
        text-align: center;
        text-transform: initial;
        margin: 5px auto 5px auto;
        max-width: 337px;
        font-weight: 600;
        position: relative;
    }
    .rc_label .rc_label__deliver_every {
        width: 100%;
    }
    .rc_custom_saving_msg img {
        max-width: 45px;
        margin-top: -12px;
        position: absolute;
        right: -10px;
        top: 0;
    }
    .product-option__ship-title {
        color: #5b5b5b;
        font-size: 12px;
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
        font-weight: 500;
    }
    .rc_custom_options_toggle {
        display: flex;
        width: 100%;
        line-height: 1;
        max-width: 400px;
        margin: 0 auto;
    }
    .rc_custom_item_toggle {
        border: 2px solid #74956c;
        padding: 4px 17px;
        width: 29%;
        text-align: center;
        margin-right: 5.5%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
        font-size: 15px;
        font-weight: 600;
        small {
            display: none;
        }
    }
    .rc_custom_item_toggle small {
        display: block;
        font-size: 8px;
        margin-top: 5px;
        font-weight: bold;
    }
    .rc_custom_item_toggle.active {
        background: #e4ece0;
        color: #74956c;
    }
    .product-details__membership-link.is-active {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 16px;
        margin-bottom: 0;
        font-size: 11px;
    }
    .product-details__membership-link.is-active {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 16px;
        margin-bottom: 0;
        font-size: 11px;
        text-decoration: underline;
        cursor: pointer;
    }
    .pro-qty-div {
        display: flex;
        align-items: center;
        .qty-btn {
            border: 2px solid #74956c;
            background: none;
            height: 45px;
            width: 40px;
            font-size: 20px;
            font-weight: 400;
            color: #74956c;
            outline: none;
        }
        .minus-btn {
            border-right: none;
        }
        .plus-btn {
            border-left: none;
        }
        .qty-input {
            border: 2px solid #74956c;
            border-left: none;
            border-right: none;
            background: none;
            height: 45px;
            width: 70px;
            font-size: 18px;
            font-weight: 400;
            line-height: 45px;
            color: #74956c;
            outline: none;
        }
    }
    .w-3 {
        width: 3%;
    }
    .modal-footer {
        background-color: $indigo;
    }
    .banner-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        width: 100%;
        max-width: 100%;
        margin: 0;
        font-size: 16px;
        min-width: 1px;
        padding: 0 10px;
        background-color: #74956c;
        border: 2px solid #74956c;
        color: #fff;
        font-weight: 400;
        text-align: center;
        transition: 0.3s ease-in-out;
        text-transform: uppercase;
        visibility: visible !important;
    }
    .product-head {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        max-width: 100%;
        flex-basis: 100%;
        align-items: center;
    }
    h3 {
        font-size: 26px;
    }
    .product_title {
        display: flex;
        h3 {
            color: #5b5b5b;
            font-size: 23px;
            font-weight: bold;
        }
        p {
            font-size: 12px;
            text-decoration: underline;
            padding-left: 5px;
            cursor: pointer;
            margin: 0;
        }
    }
    .def_model,
    .image_popup {
        display: none;
    }
    .product_size {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-bottom: 0;
        list-style: none;
        .producut_option {
            position: relative;
            margin: 0 10px 10px 0;
            width: 48%;
            input:checked+label {
                background-color: #e4ece0;
            }
            .product_input {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                opacity: 0;
                padding: 0;
                margin: 0;
                cursor: pointer;
            }
            .product_label {
                border-radius: 0;
                color: #74956c;
                text-align: center;
                flex-direction: column;
                border: 2px solid #74956c;
                font-family: "Cera PRO";
                font-weight: 700;
                font-size: 18px;
                line-height: 1.2;
                padding: 15px 90px;
                min-height: 50px;
            }
        }
    }
    #msg-1 {
        display: none;
    }
    .product_msg {
        text-align: center;
        strong {
            color: #74956c;
        }
        p {
            margin: 0;
        }
    }
}

.product-info {
    .nav-tabs .nav-link {
        font-weight: 600;
    }
    .nav-tabs .nav-link.active {
        color: #74956c;
        font-weight: 600;
    }
}

@media only screen and (max-width: 480px) {
    .product-detail-section {
        .pro-qty-div {
            .qty-input {
                width: 49px;
            }
        }
    }
}