.quiz_section {
    .quiz-4,
    .quiz-3,
    .quiz-2 {
        display: none;
    }
    .product_list {
        display: none;
        .product-box {
            .product-img-box {
                position: relative;
                padding-bottom: 100%;
                margin-bottom: 20px;
                overflow: hidden;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    width: 100%;
                    object-position: center;
                    object-fit: cover;
                }
            }
        }
    }
    .quiz-navigation-number {
        background-color: #cee2c8;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        margin-right: 10px;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .quiz-navigation-item.is-active .quiz-navigation-number {
        background-color: #74956c;
    }
    .quiz-navigation-label {
        display: inline;
        font-size: 16px;
        font-weight: 400;
        color: #404040;
    }
    .quiz-navigation-item {
        display: flex;
        align-items: center;
        margin: 0 15px;
        cursor: pointer;
    }
    .quiz-body {
        .error_1,
        .error_2,
        .error_3 {
            display: none;
            color: red;
        }
        text-align: center;
        padding-top: 80px;
        .quiz_header {
            color: #5b6770;
            font-family: "Cera PRO";
            font-size: 26px;
            font-weight: 500;
            display: inline;
            margin-bottom: 90px;
            span {
                display: inline-block;
            }
        }
        .form-control {
            height: 50px;
            &:focus {
                border-color: #74956c;
                outline: 0;
                box-shadow: none;
            }
        }
        .quiz-form-flex-row {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            align-items: center;
            justify-content: center;
            margin: 35px auto 0;
            flex-direction: column;
            input {
                display: none;
            }
            input:checked+label {
                border: solid 3px #74956c;
            }
            .quiz-label {
                background-color: #fff;
                border: solid 1px #ddd;
                padding: 10px;
                color: #404040;
                width: 300px;
                height: 70px;
                margin-top: 0;
                margin-bottom: 15px;
                font-weight: 500;
                font-size: 16px;
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .quiz-next-button {
            background-color: #74956c;
            border-radius: 2px !important;
            border: none;
            width: 300px;
            height: 50px;
            font-weight: 500;
            font-family: "Cera PRO";
            font-size: 16px;
            color: #fff;
            display: block;
            margin: 20px auto 10px;
            transition: background-color 0.25s ease-in-out;
        }
    }
}

@media only screen and (min-width: 768px) {
    .quiz-form-flex-row {
        margin: 90px auto !important;
        flex-direction: row !important;
    }
    .quiz-label {
        margin: 10px;
        width: 200px;
        height: 80px;
    }
}

@media only screen and (max-width: 767px) {
    .quiz-navigation-label {
        display: none !important;
    }
    .quiz_section {
        .quiz-body {
            .quiz-form-flex-row {
                .quiz-label {
                    width: 100%;
                }
            }
            .quiz-next-button {
                width: 100%;
            }
        }
    }
}