        .regimen-section {
            background: #E1EBDE;
            .regimen-img {
                // margin-top:60px;
                position: relative;
                z-index: 9;
            }
            .day-img {
                width: 65px;
                margin-top: -13px;
            }
            .night-img {
                width: 51px;
                margin-top: -11px;
            }
            .day-main-div {
                .head-div-day {
                    margin-bottom: 40px;
                }
                .day-box {
                    &:not(:last-child) {
                        margin-bottom: 30px;
                    }
                }
            }
            .night-main-div {
                .head-div-night {
                    margin-bottom: 40px;
                }
                .night-box {
                    &:not(:last-child) {
                        margin-bottom: 30px;
                    }
                }
            }
            .button-all {
                margin: auto;
                display: block;
                width: max-content;
                margin-top: 30px;
            }
            .animation-circle-inverse {
                div {
                    background: $indigo;
                    position: absolute;
                    right: 0;
                    height: 100px;
                    width: 100px;
                    border-radius: 100%;
                    opacity: .5;
                    -webkit-transform: scale(1.3);
                    transform: scale(1.3);
                    -webkit-animation: ripple1 3s linear infinite;
                    animation: ripple1 3s linear infinite;
                    &:nth-child(2) {
                        -webkit-animation: ripple2 3s linear infinite;
                        animation: ripple2 3s linear infinite;
                    }
                    &:nth-child(3) {
                        -webkit-animation: ripple3 3s linear infinite;
                        animation: ripple3 3s linear infinite;
                    }
                }
            }
            .animation-circle-inverse div {
                top: 43%;
                left: 0;
                right: 0;
                margin: 0 auto;
                z-index: 1;
            }
        }
        
        @keyframes ripple1 {
            0% {
                -webkit-transform: scale(4.5);
                transform: scale(4.5);
                opacity: .3;
            }
            100% {
                -webkit-transform: scale(6.5);
                transform: scale(6.5);
                opacity: 0;
            }
        }
        
        @keyframes ripple2 {
            0% {
                -webkit-transform: scale(2.5);
                transform: scale(2.5);
            }
            100% {
                -webkit-transform: scale(4.5);
                transform: scale(4.5);
            }
        }
        
        @keyframes ripple3 {
            0% {
                -webkit-transform: scale(1.5);
                transform: scale(1.5);
            }
            100% {
                -webkit-transform: scale(3.5);
                transform: scale(3.5);
            }
        }
        
        @media only screen and (max-width:767px) {
            .regimen-section {
                .regimen-img {
                    margin-top: 0px;
                    // margin-bottom:30px;
                }
                .day-main-div {
                    margin-top: 8px;
                    .head-div-day {
                        margin-bottom: 30px;
                        h4 {
                            img {
                                width: 58px;
                            }
                        }
                    }
                }
                .night-main-div {
                    margin-top: 8px;
                    .head-div-night {
                        margin-bottom: 30px;
                        h4 {
                            img {
                                width: 40px;
                            }
                        }
                    }
                }
            }
        }
        
        @media only screen and (max-width:480px) {
            .regimen-section {
                .regimen-img {
                    width: 70%;
                }
                .img-main-div {
                    text-align: center;
                }
                .night-main-div {
                    .head-div-night {
                        h4 {
                            font-size: 25px;
                            img {
                                width: 33px;
                            }
                        }
                    }
                }
                .day-main-div {
                    .head-div-day {
                        margin-bottom: 33px;
                        h4 {
                            font-size: 25px;
                            img {
                                width: 48px;
                            }
                        }
                    }
                }
            }
            .animation-circle-inverse div {
                display: none;
            }
            .smile-launcher-frame-container.smile-launcher-mobile {
                left: 12px;
            }
        }
        
        @media only screen and (max-width:415px) {
            .regimen-section {
                .night-main-div,
                .day-main-div {
                    h6 {
                        font-size: 0.9rem;
                    }
                }
            }
        }
        
        @media only screen and (max-width:380px) {
            .regimen-section {
                .night-main-div,
                .day-main-div {
                    h6 {
                        font-size: 0.8rem;
                    }
                }
            }
        }
        
        @media only screen and (max-width:343px) {
            .regimen-section {
                .night-main-div,
                .day-main-div {
                    h6 {
                        font-size: 0.7rem;
                    }
                }
            }
        }