.proven_results {
  // background-color: $orange;
  img {
    // width: 200px;
  }
  .proven-nav-box{
    background: #F2F1ED;
    padding: 30px 50px;
    margin-right: -50px;
    margin-top: -47px;
    position: relative;
    z-index: 99;
    h3{
      margin-bottom:15px;
    }
  }
  .before-after{
    h6{
      color:$body-color;
      margin-top:20px;
      text-transform: uppercase;
    }
  }
  .proven-img-slider{
    .slick-prev{
      left: -410px;
      &::before{
          content: "\f104";
          font-family: "FontAwesome";
          color:$body-color;
          font-size:30px;
        }
    }
    .slick-next{
        right: -50px;
        &::before{
            content: "\f105";
            font-family: "FontAwesome";
            color:$body-color;
            font-size:30px;
        }
    }
    
  }
}
@media only screen and (max-width:767px) {
  .proven_results {
    // .container{
    //   padding:0;
    // }
    .proven-nav-box{
      margin-right:0;
    }
  }

}