.testimonials {
    background: $purple;
    .modal-header {
        position: absolute;
        right: -10px;
        top: -10px;
        border-bottom: 0;
        button {
            color: #fff;
            background: #000;
            width: 30px;
            height: 30px;
            text-align: center;
            padding: 0;
            border-radius: 5px;
            opacity: 1;
        }
    }
    .testi_text {
        .slick-slide {
            text-align: center;
        }
    }
    .video-thumb {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        margin: auto;
        margin-bottom: 20px;
    }
    .test-slide {
        .content-text {
            position: relative;
            font-weight: 500;
            &:before {
                content: '\f10d';
                position: absolute;
                font-family: FontAwesome;
                top: -40px;
                font-size: 30px;
                color: $indigo;
            }
        }
        .watch-btn {
            border: 1px solid $indigo;
            border-radius: 30px;
            padding: 8px 15px;
            color: $indigo;
            font-size: 12px;
            font-weight: 600;
            outline: none;
        }
    }
    .slick-prev {
        left: -40px;
        &::before {
            content: "\f104";
            font-family: "FontAwesome";
            color: $body-color;
            font-size: 30px;
        }
    }
    .slick-next {
        right: -40px;
        &::before {
            content: "\f105";
            font-family: "FontAwesome";
            color: $body-color;
            font-size: 30px;
        }
    }
}

@media only screen and (max-width:992px) {
    .testimonials {
        .slick-prev {
            display: none !important;
        }
        .slick-next {
            display: none !important;
        }
    }
}

@media only screen and (max-width:480px) {
    .testimonials {
        .container {
            padding: 0;
            .row {
                margin-left: 0;
                margin-right: 0;
            }
        }
        .test-slide {
            padding-left: 0;
            padding-right: 0;
            p {
                padding: 0px 10px;
            }
        }
    }
}