.testimonials {
    background:$purple;
    .testi_text{
        .slick-slide{
            text-align: center;
        }
    }
    .video-thumb{
        display: block;
        margin-bottom:20px;
        outline: none;
        img{
            width:200px;
            height:200px;
            object-fit: cover;
            border-radius:50%;
            margin: auto;
        }
    }
    .slick-prev{
        left: -40px;
        &::before{
            content: "\f104";
            font-family: "FontAwesome";
            color:$body-color;
            font-size:30px;
        }
    }
    .slick-next{
        right: -40px;
        &::before{
            content: "\f105";
            font-family: "FontAwesome";
            color:$body-color;
            font-size:30px;
        }
    }
}
@media only screen and (max-width:992px) {
    .testimonials {
        .slick-prev{
            display:none !important;
        }
        .slick-next{
            display:none !important ;
        }
    }
}
@media only screen and (max-width:480px) {
    .testimonials {
        .container{
            padding:0;
            .row{
                margin-left:0;
                margin-right:0;
            }
        }
        .test-slide{
            padding-left:0;
            padding-right:0;
            p{
                padding:0px 10px;
            }
        }
    }

}
