.undersanding-skin {
    .skin-nav{
        margin-bottom:30px !important;
        .slick-list{
            width:100%;
            .slick-track{
                width: 75% !important;
                text-align: center;
                margin: auto;
                transform: unset !important;
            }
            .slick-slide{
                width:calc( 100% / 4 - 5px ) !important;
                margin: auto;
            }
        }
        .skin-nav-box{
            width: max-content;
            h5{
                font-size:20px;
                opacity:.5;
                border-bottom:2px solid $white;
                text-align: center;
                padding-bottom:7px;
                width: max-content;
                margin: auto;
            }
        }
        .slick-current{
            .skin-nav-box{
                h5{
                    opacity:1; 
                    border-bottom:2px solid $indigo;
                } 
            }
        }
    }
    .slick-prev{
        left: -70px;
        &::before{
            content: "\f104";
            font-family: "FontAwesome";
            color:$body-color;
            font-size:30px;
        }
    }
    .slick-next{
        right: -70px;
        &::before{
            content: "\f105";
            font-family: "FontAwesome";
            color:$body-color;
            font-size:30px;
        }
    }
    .slick-dots {
        bottom: -40px;
        li{
            margin: 0 0px;
            button{
                &::before{
                    content: '' !important;
                    background:$indigo;
                    border-radius:50%;
                    width:10px;
                    height:10px;
                    opacity:.2;
                }
            }
            .slick-active{
                button{
                    &::before{
                        opacity:1;
                    }
                }
            }
        }
    }
    .skin-image-slider{
        // background:#f7f7f7;
        img{
            margin: auto;
        }
    }
    .skin-box {
        padding: 15px;
        display: flex;
        align-items: center;
        .skin-img-div {
            width:40%;
            text-align: center;
        }
        .skin-content-div{
            width:60%;
            text-align: left;
            .button-all{
                padding:7px 15px;
                font-size:13px;
                margin-top:15px;
                display:block;
                width:max-content;
            }
        }
    }
    a.button-all{
        margin-left:0;
    }
}


@media only screen and (max-width:767px) {
    .undersanding-skin {
        .skin-image-slider {
            img {
                width: 115%;
                margin-left: -16px;
                margin-top: -20px;
            }
        }
        .skin-content-div{
            padding-left:15px;
        }
    }
    .skin-nav {
        display: none !important;
    }
}