<div class="container">
  <div class="row py-3">
    <div class="col-xl-6 col-lg-6 col-md-8 col-12 m-auto">
      <div class="text-center acc">
        <h1 class="py-4">{{ "customer.register.title" | t }}</h1>
        {% form 'create_customer' %}
        {{ form.errors | default_errors }}
        <div class="form-group">
          <input type="text" class="form-control" name="customer[first_name]" id="FirstName"
            placeholder="{{ 'customer.register.first_name' | t }}" autofocus
            {% if form.first_name %}value="{{ form.first_name }}" {% endif %}>

          <input type="text" class="form-control" name="customer[last_name]" id="LastName"
            placeholder="{{ 'customer.register.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}"
            {% endif %}>

          <input type="email" class="form-control" name="customer[email]" id="Email"
            class="{% if form.errors contains 'email' %}input-error{% endif %}"
            placeholder="{{ 'customer.register.email' | t }}" value="{% if form.email %}{{ form.email }}{% endif %}"
            spellcheck="false" autocomplete="off" autocapitalize="off">

          <input type="password" name="customer[password]" id="CreatePassword"
            class="{% if form.errors contains 'password' %}input-error{% endif %} form-control"
            placeholder="{{ 'customer.register.password' | t }}">
          <p>
            <input type="submit" value="{{ 'customer.register.submit' | t }}" class="button button-all">
          </p>
          <a href="{{ shop.url }}" class="cnl">{{ 'customer.register.cancel' | t }}</a>
        </div>
        {% endform %}
      </div>
    </div>
  </div>
</div>