.blogs-section {
    .blog-main-div {
        padding-bottom: 15px;
        border-bottom: 1px solid rgba($purple, .1);
        padding-top: 15px;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
            border-bottom: none;
        }

        .blog-title {
            font-size: 30px;

            a {
                color: #404040;

                &:hover {
                    color: $indigo;
                }
            }
        }
        .blog-img-div{
            position: relative;
            width:100%;
            overflow: hidden;
            &::before{
                content:'';
                width:100%;
                padding-top:60%;
                display: block;
            }
            .blog-img{
                position: absolute;
                top:0;
                right:0;
                bottom:0;
                left:0;
                width:100%;
                object-fit: cover;
                object-position: center;
            }
        }
        // .blog-img {
        //     width: 100%;
        // }
    }

    .blog-popular-post {
        border: 1px solid rgba($indigo, .5);
        padding: 15px;

        h3 {
            margin-bottom: 15px;
            font-size: 25px;
        }

        .pop-blogs {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }

            .blog-img-div{
                position: relative;
                width:100%;
                overflow: hidden;
                margin-bottom:10px;
                &::before{
                    content:'';
                    width:100%;
                    padding-top:60%;
                    display: block;
                }
                .blog-img{
                    position: absolute;
                    top:0;
                    right:0;
                    bottom:0;
                    left:0;
                    width:100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            h5 {
                line-height: 19px;
                a {
                    font-size: 17px;
                    color: #404040;

                    &:hover {
                        color: $indigo;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:768px) and (max-width:992px) {
    .blogs-section {
        .blog-main-div {
            .blog-title {
                font-size: 22px;
            }
            
        }

        .blog-popular-post {
            h3 {
                font-size: 18px;
            }

            .pop-blogs {
                h5 {
                    a {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}