
{% if section.settings.enable %}
<section class="about-promo">
<div class="holder fullboxed py-5 py-md-10 bg-cover" style="background-image:url({% if section.settings.image != blank %}{{ section.settings.image | img_url: 'master' }}{% else %}{{ 'about-text-bg.jpg' | asset_url }}{% endif %})">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="text-center">
                    <p><img class="logo-img" src="{% if section.settings.logo != blank %}{{ section.settings.logo | img_url: 'master' }}{% else %}{{ 'logo-lg.png' | asset_url }}{% endif %}" alt="" class="img-responsive"></p>
                    <p>{{ section.settings.content }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endif %}

{% schema %}
{
"name": "About Us - Promo",
"class": "index-section",
"settings": [
{
"type": "checkbox",
"id": "enable",
"label": "Enable",
"default": true
},
{
"type": "header",
"content": "Layout"
},
{
"type": "header",
"content": "General"
},
{
"type": "image_picker",
"id": "image",
"label": "Background image",
"info":"recommended width 2000px x 480px"
},
{
"type": "image_picker",
"id": "logo",
"label": "Logo image"
},
{
"type": "text",
"id": "content",
"label": "Content",
"default":"Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Consetr ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Consetr ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod."
}
],
"presets": [
{
"name": "About Us - Promo",
"category": "About Us"
}
]
}
{% endschema %}