<section class="blogs-section">
    <div class="container">
        <div class="row pt-5">
            <div class="col-xl-9 col-lg-9 col-md-9">
                <div class="col-12 pl-xl-0 pl-lg-0 pl-md-0  blog-main-div">
                    <h1 class="blog-title mb-4"><a href="{{ article.url }}">{{ article.title }}</a>
                    </h1>
                    <div class="blog-img-div">
                        <img class="blog-img" src="{{ article.image | img_url:'original' }}" alt="{{ article.title }}">
                    </div>
                    <div class="blog-content mt-4">
                       <p>{{ article.content }}</p> 
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 p-xl-0 p-lg-0 p-md-0 mt-xl-0 mt-lg-0 mt-md-0 mt-4">
                <div class=" blog-popular-post">
                    <div class="row">
                        {% if section.settings.title_text %}
                            <div class="col-12">
                                <h3>{{ section.settings.title_text }}</h3>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        {% for article in blogs.news.articles  %}
                            <div class="col-12 pop-blogs">
                                <div class="blog-img-div">
                                    <img class="blog-img" src="{{ article.image | img_url:'original' }}" alt="">
                                </div>
                                <h5 class="mb-0">
                                    <a href="{{ article.url }}">{{ article.title }}</a>
                                </h5>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

{% schema %}
{
"name": "blog section",
"settings": [
{
"type": "header",
"content": "Blog Section"
},
{
"type": "header",
"content": "Popular Post"
},
{
"type":"text",
"id": "title_text",
"label":"Text"
}
]
}
{% endschema %}