<section class="benefits-section py-5">
    <div class="container">
        <div class="col-12 py-5 text-center">
            {% if section.settings.title != blank %}
                <h2 class="text-uppercase">{{ section.settings.title }}</h2>
            {% endif %}
            {% if section.settings.sub_title != blank %}
                <p>{{ section.settings.sub_title }}</p>
            {% endif %}
        </div>
    </div>
</section>
{% schema %}
  {
    "name": "benefit section",
    "settings": [
     {
        "type": "checkbox",
        "id": "enable_section",
        "label": "Enable Section"
      },
 		{
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "sub_title",
        "label": "SubTitle"
      }
    ]
  }
{% endschema %}
