<section class="benefits-skin-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center mb-3">
                {% if section.settings.heading_title != blank %}
                    <h3 class="text-uppercase mb-2">{{ section.settings.heading_title }}</h3>
                {% endif %}
                {% if section.settings.sub_title != blank %}
                    <p class="">{{ section.settings.sub_title }}</p>
                {% endif %}
            </div>
        </div>
        <div class="col-md-10 m-auto">
            {% for block in section.blocks %}
                <div class="row mb-4" id="{{ block.settings.skin_title }}">
                <div class="col-md-5 mb-md-0 mb-3 skin-{{ block.id }} {% if block.settings.enable_right %} order-md-2 order-1 {% endif %}">
                        <div class="skin_img_div">
                            <img class="img-fluid skin-benefits" src="{{ block.settings.skin_img | img_url: 'original'  }}" alt="{{ block.settings.skin_title }}">
                        </div>
                </div>
                <div class="col-md-7 text-md-left text-center skin-text-{{ block.id }} {% if block.settings.enable_right %} order-md-1 order-2 text-right {% endif %}">
                        <div class="skin_content_div {% if block.settings.enable_right %} text-md-right text-center {% endif %}">
                            <h4 class="text-uppercase">{{ block.settings.skin_title }}</h4>
                            <p>{{ block.settings.skin_content }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% schema %}
{
"name": "Skin Benefits",
"settings": [
    {
        "type": "text",
        "id": "heading_title",
        "label": "Title"
    },
    {
        "type": "text",
        "id": "sub_title",
        "label": "SubTitle"
    }
],
"blocks": [
    {
    "type": "skin-img",
    "name": "Skin Block",
    "settings": [
        {
            "type": "image_picker",
            "id": "skin_img",
            "label": "Image"
        },
        {
            "type": "checkbox",
            "id": "enable_right",
            "label": "Right Image"
        },
        {
            "type": "text",
            "id": "skin_title",
            "label": "Skin Title"
        },
        {
            "type": "textarea",
            "id": "skin_content",
            "label": "Content"
        }
    ]
    }
]
}
{% endschema %}