{% if section.settings.enable_slider %}
<section class="blog_slider py-3">
    <div class="container">
        <div class="row pb-4">
            <div class="col-12">
                <h3 class="text-center">{{section.settings.head-txt}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-10 m-auto">
                <div class="row blog_slider_main">
                     {% for article in blogs["News"].articles %}
                    <div class="col-md-12 mb-mb-0 mb-3">
                        <div class="article_main text-center">
                            <div class="article_image_div">
                                <img  src="{{ article.image | img_url:'original' }}" atl="{{article.title}}" class="img-fluid" >
                            </div>
                            <div class="article_header">
                                <h6 class="py-3"><a href="{{ article.url }}" class="article_name">{{ article.title }}</a></h6>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% schema %}
{
    "name":"Blog Slider",
    "settings": [   
    {
        "type": "checkbox",
        "id" : "enable_slider",
        "label" : "Enable Blog Slider ?"
    },
    {
        "type": "text",
        "id" : "head-txt",
        "label" : "Header Text"
    }
        ]
}
{% endschema %}