<section class= "blog-section py-5">
  <div class="container">
  <div class="row">
  <div class="col-12">
  {% if section.settings.title != blank %}
  <h3 class="text-center mb-0">{{ section.settings.title | escape }}</h3>
  <p class="text-center">{{section.settings.sub_title}}</p>
  {% endif %}
  </div>
  </div>
  {%- assign blog = blogs[section.settings.blog] -%}
  <div class="row">
  {% for article in blog.articles limit: section.settings.post_limit %}
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
  <a href="{{article.url}}">
  <div class="blog-imge">
  <img src="{{article.image | img_url:'original' }}" alt="#">
  </div>
  <h5>{{ article.title }}</h5>
  </a>
  <div class="blog-date">
  {% if section.settings.blog_show_author %}
  <span>{{ 'blogs.article.by_author' | t: author: article.author }}</span>
  {% endif %}
  
  {% if section.settings.blog_show_date %}
  <p class="date">
  {{ article.published_at | time_tag: format: 'month_day_year' }}
  </p>
  {% endif %}
  </div>
  </div>
  {% endfor %}
  </div>
  </div>
  {% comment %} {% for article in blog.articles limit: section.settings.post_limit %}
  <li class="blog-post__item">
  
  <a href="{{ article.url }}">
  {% if article.image %}
  {% include 'responsive-image' with
  image: article.image,
  max_width: 400,
  max_height: 400
  %}
  {% endif %}
  <h3>{{ article.title }}</h3>
  </a>
  
  <div>
  {% if section.settings.blog_show_author %}
  <span>{{ 'blogs.article.by_author' | t: author: article.author }}</span>
  {% endif %}
  
  {% if section.settings.blog_show_date %}
  <p>
  {{ article.published_at | time_tag: format: 'month_day_year' }}
  </p>
  {% endif %}
  
  <div>
  {% if article.excerpt.size > 0 %}
  {{ article.excerpt }}
  {% else %}
  {{ article.content | strip_html | truncate: 150 }}
  {% endif %}
  </div>
  
  {% if article.tags.size > 0 %}
  <ul aria-label="{{ 'blogs.article.tags' | t }}">
  {% for tag in article.tags %}
  <li><a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a></li>
  {% endfor %}
  </ul>
  {% endif %}
  
  <a href="{{ article.url }}"
  aria-label="{{ 'blogs.article.read_more_title' | t: title: article.title }}">{{ 'blogs.article.read_more' | t }}</a>
  </div>
  </li>
  {% else %}
  {% for i in (1..section.settings.post_limit) %}
  <li class="blog-post__item">
  <h3>
  <a href="#">{{ 'homepage.onboarding.blog_title' | t }}</a>
  </h3>
  
  {% if section.settings.blog_show_author %}
  <span>{{ 'homepage.onboarding.blog_author' | t }}</span>
  {% endif %}
  
  <div>{{ 'homepage.onboarding.blog_excerpt' | t }}</div>
  
  <a href="#">{{ 'blogs.article.read_more' | t }}</a>
  </li>
  {% endfor %}
  {% endfor %}
  </ul> {% endcomment %}
  </section>
  
  {% schema %}
  {
  "name":"Blog posts",
  "settings":[
  {
  "type":"text",
  "id":"title",
  "label":"Heading",
  "default":"Blog posts"
  },
  {
  "type":"text",
  "id":"sub_title",
  "label":"Sub_Heading"
  },
  {
  "id":"blog",
  "type":"blog",
  "label":"Blog"
  },
  {
  "type":"range",
  "id":"post_limit",
  "label":"Posts",
  "min":3,
  "max":12,
  "step":3,
  "default":3
  },
  {
  "type":"checkbox",
  "id":"blog_show_author",
  "label":"Show author",
  "default":false
  },
  {
  "type":"checkbox",
  "id":"blog_show_date",
  "label":"Show date",
  "default":true
  }
  ],
  "presets":[
  {
  "name":"Blog posts",
  "category":"Blog",
  "settings":{
  "blog":"News",
  "post_limit":3
  }
  }
  ]
  }
  {% endschema %}