<section class="cart-section">
    <div class="container">
        {% if cart.item_count > 0 %}
        <form action="/cart" method="post" novalidate>
            <div class="row">
                <div class="col-12">
                    <div class="cart-head">
                        <h2>Shopping Cart</h2>
                    </div>
                </div>
            </div>
            <div class="row cart-heading">
                <div class="col-md-5 col-4 product-head">
                    <p>{{ 'cart.label.product' | t }}</p>
                </div>
                <div class="col-md-2 col-4 price-head">
                    <p>{{ 'cart.label.price' | t }}</p>
                </div>
                <div class="col-md-3 col-4 qty-head">
                    <p>{{ 'cart.label.quantity' | t }}</p>
                </div>
                <div class="col-md-2 col-4 total-head">
                    <p>{{ 'cart.label.total' | t }}</p>
                </div>
            </div>
            {% for item in cart.items %}
            <div class="col-12 cart-items">
                <div class="col-5 cart-product-div pl-0">
                    <div class="product-image-div">
                        {% if item.image != blank %}
                        <a href="{{ item.url | within: collections.all }}">
                            {{ item | img_url: 'original' | img_tag: item.title }}
                        </a>
                        {% endif %}
                    </div>
                    <div class="product-text-div">
                        <p class="label-name">{{ item.vendor }}</p>
                        <h5 class="pro-name"><a href="{{ item.url }}">{{ item.title }}</a></h5>
                        <a class="remove-pro" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                            <small>{{ 'cart.general.remove' | t }}</small>
                        </a>
                    </div>
                </div>
                <div class="col-2 cart-price-div">
                    <p>{{ item.original_price | money }}</p>
                </div>
                <div class="col-3 main-qty-div">
                    <div class="cart-qty-div" data-qtyContainer>
                        <button class="minus-qty minus-btn qty-btn qty-btns" data-direction="-1">-</button>
                        <input class="quntity-input qty-input text-center" type="text" name="updates[]"
                            id="updates_{{ item.key }}" data-qty readonly value="{{ item.quantity }}">
                        <button class="plus-qty plus-btn qty-btn qty-btns" data-direction="1">+</button>
                        <!-- <button class="minus-qty">-</button>
                            <input class="quntity-input" type="text" readonly="readonly" value="1">
                            <button class="plus-qty">+</button> -->
                    </div>
                </div>
                <div class="col-2 cart-total-div">
                    <p>{{ item.line_price | money }}</p>
                </div>
            </div>
            {% endfor %}
            <div class="col-12">
                <div class="cart-subtotal-div">
                    <p><b>{{ 'cart.general.subtotal' | t }} :</b> &nbsp;{{ cart.total_price | money }}</p>
                </div>
                <div class="btn-checkout-div">
                    <a class="outline-btn" href="/products/rejuvenation-cream">Continue Shopping</a>
                    <button type="submit" class="outline-btn" name="update"> Update </button>
                    <button type="submit" name="checkout"
                        class="checkout-btn">{{ 'cart.general.checkout' | t }}</button>
                </div>
                <div class="payment-option">
                    <p>Shipping & taxes calculated at checkout</p>
                </div>
            </div>
    </div>
    </form>
    {% else %}
    <div class="row py-5">
        <div class="col-12 text-center pt-2">
            <div class="cart-head mb-5">
                <h1>{{ 'cart.general.title' | t }}</h1>
            </div>
        </div>

        <div class="col-12  text-center">
            <div class="btn-checkout-div text-center">
                <p>{{ 'cart.general.empty' | t }}</p>
                <a class="outline-btn" href="/products/rejuvenation-cream">Continue Shopping</a>
            </div>
            <div class="payment-option pb-2">
                <p class="text-center">{{ 'cart.general.cookies_required' | t }}</p>
            </div>
        </div>
    </div>
    {% endif %}
    </div>
    </div>
</section>