{% if section.settings.enable_section %}
<section class="clinical-study pt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-3">
                {% if section.settings.heading_title != blank %}
                  <h3 class="text-uppercase mb-2">{{ section.settings.heading_title }}</h3>
                {% endif %}
                {% if section.settings.sub_title != blank %}
                  <p class="">{{ section.settings.sub_title }}</p>
              {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-12 p-0">
                <ul class="number-ul">
                    {% for block in section.blocks %}
                    <li>
                        <div class="main-number-div">
                            <div class="circle-div">
                                <h4>{{ block.settings.main_number }}</h4>
                            </div>
                            <div class="circle-text">
                                <p>{{ block.settings.text_content }}</p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="clinical-study-man-div col-12 p-0 text-center">
                <div class="head-main">
                    <h5 class="text-uppercase mb-3">{{ section.settings.clini_title }}</h5>
                    <p>{{ section.settings.clini_sub_title }}</p>
                    <p class="mb-0">{{ section.settings.clini_sub_title2 }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% schema %}
{
"name": "Clinical Study Section",
"settings": [
  {
    "type":"checkbox",
    "id": "enable_section",
    "label":"Enable Section?"
  },
  {
    "type":"text",
    "id" :"heading_title",
    "label":"Heading"
  },
  {
    "type":"textarea",
    "id":"sub_title",
    "label":"Sub Title"
  },
  {
    "type":"text",
    "id":"clini_title",
    "label":"Title"
  },
  {
    "type":"textarea",
    "id":"clini_sub_title",
    "label":"SubTitle"
  },
  {
    "type":"textarea",
    "id":"clini_sub_title2",
    "label":"SubTitle2"
  }
],
"blocks": [
{
    "type": "content",
    "name": "Clinical Study",
    "settings": [
        {
            "type": "text",
            "id": "main_number",
            "label": "Text Number"
        },
        {
            "type": "textarea",
            "id": "text_content",
            "label":"content"
        }
    ]
}
]
}
{% endschema %}