{% if section.settings.enable_section %}
<section class="pt-5 contact-section">
    <div class="container">
        {% if section.settings.title != blank %}
        <div class="row">
            <div class="col-12 text-center pb-3">
                <h3 class="title mb-3">{{ section.settings.title }}</h3>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-12 col-md-6 col-lg-5 ms-order contact-form">
            <div >
                {% if section.settings.detail_title != blank %}
                    <h5 class="text-uppercase font-weight-bold">{{ section.settings.detail_title }}</h5>
                {% endif %}
                {% if section.settings.detail_subtitle != blank %}
                    <p class="mb-0">{{ section.settings.detail_subtitle }}</p>
                {% endif %}
            </div>
            <div class="mt-5">
                {% if section.settings.sidebar_title != blank %}
                    <h5 class="text-uppercase font-weight-bold">{{ section.settings.sidebar_title }}</h5>
                {% endif %}
                {% if section.settings.sidebar_address != blank %}
                    <span class="d-flex align-items-center mb-2">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <p class="pl-2 m-0">{{ section.settings.sidebar_address }}</p>
                    </span>
                {% endif %}
                {% if section.settings.sidebar_contactno != blank %}
                    <span class="d-flex align-items-center mb-2">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <p class="pl-2 m-0">{{ section.settings.sidebar_contactno }}</p>
                    </span>
                {% endif %}
                {% if section.settings.sidebar_email != blank %}
                    <span class="d-flex align-items-center mb-2">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <p class="pl-2 m-0">{{ section.settings.sidebar_email }}</p>
                    </span>
                {% endif %}
            </div>
            
            </div>
            <div class="col-12 col-md-6 col-lg-7 msp-order acc">
                {% form 'customer', id: 'contact-form' %}
                    <div class="form-group input-form mb-0">
                        <div class="input-form">
                            <input type="text" class="form-control" name="contact[name]" id="exampleFormControlInput1" placeholder="Name">
                        </div>
                        <div class="form-row">
                            <div class="col-12 col-lg-6 mb-3 mb-lg-0 form-group input-form">
                                <input type="email" name="contact[email]" class="form-control" id="inputEmail4" placeholder="Email">
                            </div>
                            <div class="col-12 col-lg-6 input-form">
                                <input type="text" name="contact[contact-no]" class="form-control" id="contact-no" placeholder="Phone Number">
                            </div>
                        </div>
                        <div class="contact-form input-form">
                            <textarea class="form-control" name="contact[Message]" placeholder="Message" id="exampleFormControlTextarea1" rows="4"></textarea>
                        </div>
                        <div class="input-form mb-0">
                            <button type="Submit" class="button-all">{{ section.settings.btn_text }}</button>
                        </div>
                    </div>
                {% endform %}
            </div>
        </div>
    </div>
    <div class="holder fullwidth">
        <div class="contact-map">
            {{ section.settings.iframe | replace:'frameborder="0"','' }}
        </div>
    </div>
</section>
{% endif %}
{% schema %}
    {
      "name": "Contact us",
      "settings": [
        {
            "type": "checkbox",
            "id": "enable_section",
            "label": "Enable Section?"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "SHOP OUR INSTAGRAM"
        },
        {
            "type": "header",
            "content": "Sidebar"
        },
        {
            "type": "text",
            "id": "sidebar_title",
            "label": "Title",
            "default": "VISIT OUR CLUB"
        },
        {
            "type": "textarea",
            "id": "sidebar_address",
            "label": "Address",
            "default": "100 Biscayne Blvd, Florida 33148"
        },
        {
            "type": "textarea",
            "id": "sidebar_contactno",
            "label": "Contact No.",
            "default": "(305) 555-4446"
        },
        {
            "type": "textarea",
            "id": "sidebar_email",
            "label": "Email",
            "default": "spam@unitedtheme.com"
        },
        {
            "type": "header",
            "content": "Get in Touch"
        },
        {
            "type": "text",
            "id": "detail_title",
            "label": "Title",
            "default": "GET IN TOUCH"
        },
        {
            "type": "textarea",
            "id": "detail_subtitle",
            "label": "Content",
            "default": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut."
        },
        {
            "type": "textarea",
            "id": "iframe",
            "label": "Google map iframe",
            "info": "1. Paste address in [www.google.com/maps/](https://www.google.com/maps) 2. Click ['Share or embed map'](http://joxi.net/nAyYn9VTYGx8WA) 3. Click ['Embed a map' and 'COPY HTML'](http://joxi.net/MAjz3pKt4Z66LA)",
            "default": "<iframe src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1798.3693703617603!2d-74.01304569028459!3d40.70734488791827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a17292434ef%3A0x13cceefedbab92d0!2z0KPQvtC70Lsg0YHRgtGA0LjRgg!5e0!3m2!1sru!2sua!4v1531821064393' width='600' height='450' frameborder='0' style='border:0' allowfullscreen=''></iframe>"
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "Button Text"
        }
      ]
    }
  {% endschema %}