{% if section.settings.enable_section %} 
<section class="testimonials py-5 bg-white" id="testi">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center pb-4">
          <h3 class="text-uppercase">{{section.settings.heading_title}}</h3>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10 testimonial-slider p-0 m-auto"> 
          {% for block in section.blocks %}
              <div class="col-12 test-slide text-center mb-xl-0 mb-lg-0 mb-md-0 mb-3">
                  <img class="img-fluid video-thumb" src="{{ block.settings.video_img | img_url: 'original' }}" alt="">
                
                {% if block.settings.content_text != blank %}
                  <p class="mb-4 content-text">"{{ block.settings.content_text }}"</p>
                {% endif %}
                {% if block.settings.title %}
                  <h5 class="">"{{block.settings.title}}"</h5>
                  <p class="mb-3">{{ block.settings.position_text }}</p>
                {% endif %}
                <a type="button" class="watch-btn" data-toggle="modal" data-target=".testi-{{ forloop.index }}">Watch Video  &nbsp; <i class="fa fa-play"></i></a>
              </div>
          {% endfor %}
        </div>
  
        <!-- <div class="col-12 testi_text">
          {% for block in section.blocks %}
            {% if block.type == 'content-text' %}
              <div class="col-xl-9 col-lg-9 col-md-11  m-auto   text-center mb-xl-0 mb-lg-0 mb-md-0 mb-3">
               
              </div>
            {% endif %}
          {% endfor %}
        </div> -->
        <div class="col-12 m-auto text-center">
          <div class="show-all pt-5">
            {% if section.settings.button_title != blank %}
              <a class="button-all" href="{{section.settings.button_url}}">{{ section.settings.button_title }}</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
  {% for block in section.blocks %}
  <div class="modal fade testi-{{ forloop.index }}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content p-2">
        <iframe class="" height="400" width="100%" src="{{block.settings.video}}" frameborder="0" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
  {% endfor %}
{% endif %}
{% schema %}
  {
    "name": "Doctor Section",
    "settings": [
	{
    "type": "checkbox",
    "id": "enable_section",
    "label": "Enable Section"
 	 }, 
	{
    "type":"text",
    "id":"heading_title",
    "label":"Title Text",
	  "default": "MORE PROOF? WATCH THE PRO'S"
  	},
    {  "type":"text",
		"id":"button_title",
		"label":"Button Title",
		"default":"SHOW ALL"
    }, 
	{  "type":"url",
		"id":"button_url",
		"label":"Button Url"
	}
	],
	"blocks": [
	{
    "type": "content",
    "name": "Testimonials video",
    "settings": [
        {
        "type": "url",
        "id": "video",
        "label": "Testimonials Video"
        },
        {
          "type": "image_picker",
          "id": "video_img",
          "label": "Image Video"
        },
        {
        "type": "text",
        "id": "title",
        "label": "heading",
		    "default":"This is Marshmallow"
        },
        {
          "type": "text",
          "id": "position_text",
          "label": "heading",
          "default":"CEO enviurement Level"
          },
        {
          "type": "text",
          "id": "content_text",
          "label": "Content"
        }
		]
  }
	],
  "presets": [
  {
  "name": "Doctor-New",
  "category": "Index"
	}
]

  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
