<footer class="footer">
  <div class="container footer-top  pt-5">
    <div class="row py-5 justify-content-center text-xl-left text-lg-left text-md-center text-sm-center text-center">
      <div class="col-12 col-lg-3 col-xl-3 col-md-4 fst-col">
        <a href="{{ shop.url }}"><img src="{{ section.settings.widget_logo | img_url:'original'}}" alt="Logo" /></a>
        <p>{{ section.settings.widget_details_1}}      
        </p>
        {% if section.settings.enable_social%}
        <ul class="list-unstyled d-flex mb-0">
          <li class="pr-3">
            <a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
          </li>
          <li class="pr-3">
            <a href="#"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
          </li>
          <li class="pr-3">
            <a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
          </li>
          <li class="pr-3">
            <a href="#"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a>
          </li>
          <li class="pr-3">
            <a href="#"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
          </li>
        </ul>
        {% endif %}
      </div>
      <div class="col-12 col-lg-3 col-xl-3 col-md-4 mb-xl-0 mb-lg-0 mb-md-0 mb-3">
        <h5 class="">{{ section.settings.widget_title_2}}</h5>
        <ul class="list-unstyled mb-0">
          {% for link in linklists[section.settings.widget_nav_2].links %}
          <li class="py-1"><a href="{{ link.url }}">{{ link.title }}</a></li>
   		{% endfor %}
        </ul>
      </div>
      <div class="col-12 col-lg-3 col-xl-3 col-md-4">
        <h5 class="">{{ section.settings.widget_title_3}}</h5>
        <ul class="list-unstyled mb-0">
            {% for link in linklists[section.settings.widget_nav_3].links %}
        	  <li class="py-1"><a href="{{ link.url }}">{{ link.title }}</a></li>
   			{% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center py-3 footer-btm">
    <p class="display-4 mb-0">
    <a href="{{section.settings.copyright_url}}"><b> {{section.settings.copyright_text}} </b></a>.{{section.settings.widget_title_4}}.
    </p>
  </div>
</footer>
<div class="nt-products-suggest animated style_1 color-scheme-dark  hide_mobile" style="display:none">
  <div class="product-suggest nt-grid-item" id="nt__suggest" data-url="/collections/clothing/products/"><a class="suggest-close pa cusor_pointer"><span class="tooltip_bottom_left"><i class="pe-7s-close fwb"></i></span></a><a class="suggest-qv pa cusor_pointer open-quick-view tc" data-ajax=""><span class="tooltip_top_left" aria-label="Quick view"><i class="fa fa-eye fwb"></i></span></a><div class="table_suggest flex">
      <a class="table-cell-top img flex center-xs middle-xs" href="/collections/clothing/products/">
        <img alt="Sales Popup" class="w__100 img_suggest" src="" srcset="">
       </a>
      <div class="table-cell-top infors">
        <span class="dib mb__5">Someone purchased a</span>
        <a href="/collections/clothing/products/" class="product-title mb__5"></a><div class="minutes-ago mb__5"><span class="minute-number"></span> <span>minutes ago</span></div><div class="from-ago">from <span class="from"></span></div></div>
    </div>
  </div>
</div>
{% schema %}
{
"name": "Footer",
"settings": [
{
"type": "header",
"content": "Footer widget 1"
},
{
"type": "image_picker",
"id": "widget_logo",
"label": "Logo"
},
{
"type": "textarea",
"id": "widget_details_1",
"label": "Widget Details",
"default":"Sign up or follow is and be the first to know about our special offers!"
},
{
"label":"Enable Social Sharing ?",
"type":"checkbox",
"id":"enable_social"
},
{
"type": "header",
"content": "Footer widget 2"
},
{
"type": "text",
"id": "widget_title_2",
"label": "Widget Title",
"default":"HELPFUL LINKS"
},
{
"type": "link_list",
"id": "widget_nav_2",
"label": "Navigation"
},
{
"type": "header",
"content": "Footer widget 3"
},
{
"type": "text",
"id": "widget_title_3",
"label": "Widget Title",
"default":"LEGAL"
},
{
"type": "link_list",
"id": "widget_nav_3",
"label": "Navigation"
},
{
"type": "header",
"content": "Footer widget 4"
},
{
"type": "text",
"id": "widget_title_4",
"label": "Widget Title",
"default":"ALL RIGHTS RESERVED"
},
{
"type": "textarea",
"id": "widget_html",
"label": "Payment Detail Html"
},
{
"type": "text",
"id": "copyright_text",
"label": "Copyright Text",
"default": "© Copiright LALU-COLLECTIONS"
},
{"type": "url",
"id": "copyright_url",
"label": "Copyright URL"
}
]
}
{% endschema %}