{% assign template_type = section.settings.template_type %}
{% assign homepage_transparent_header = section.settings.homepage_transparent_header %}
{% assign logo = settings.main_logo | img_url: '200x' %}
{% assign logo_light = settings.main_logo_light | img_url: '200x' %}
{% assign logo_width = settings.logo_max_width %}
{% comment %}
{% if section.settings.topbar_enabled %}
<div class="topbar d-block" data-top-bar style="background-color: {{ section.settings.topbar_bg_color }}">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 annucement-bar py-2 text-center"
        style="font-size: {{ section.settings.topbar_font_size}}rem !important; color: {{ section.settings.topbar_text_color }} !important;">
        <p class="mb-0 text-dark">{{ section.settings.topbar_text }}</p>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endcomment %}

<header class="header">
  {% if section.settings.enable_section %}
  <div class="container-fluid">
    <div class="row">
        <div class="col-12 annucement-bar text-center">
          {% for block in section.blocks %}
            <p class="mb-0 text-white display-3">{{ block.settings.annucement_text }}</p>
          {% endfor %}
        </div>
    </div>
  </div>
  {% endif %}
<nav class="main-header">
    <div class="container desktop-menu">
        <div class="row align-items-center">
            <div class="col-3 pr-0 d-xl-none d-lg-none">
                <button class="toggle-btn"><i class="fa fa-bars"></i></button>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                <div class="img-div">
                  {% if section.settings.logo_img %}
                    <a href="{{ shop.url }}"><img class="logo-img" src="{{ section.settings.logo_img | img_url:'original' }}" alt="{{ shop.url }}"></a>
                  {% endif %}
                </div>
            </div>
            <div class="col-9 text-right d-xl-block d-lg-block d-none ">
                <div class="main-menu">
                    <ul class="menu-ul list-unstyled mb-0">
                      {% for link in linklists[section.settings.main_linklist].links %}
                        <li><a class="text-uppercase" href="{{ link.url }}">{{ link.title }}</a></li>
                      {% endfor %}
                        <li><a class="text-uppercase" href="/account"><i class="fa fa-user" aria-hidden="true"></i>
                                <!--<img src="images/user.png" alt="">--> </a></li>
                        <li ><a data-target-element="offcanvas-right" data-offcanvas-src="#offcanvas-right" class="c-header__link c-header__link--cart js-cartCanvas"  href="/cart"  ><i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                <!--<img src="images/cart.png" alt="">--></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-3 text-right pl-0 d-xl-none d-lg-none">
                <div class="right-menu">
                    <ul class="ul-right-menu list-unstyled mb-0">
                        <li><a href="/account"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                        <li><a href="/cart"  data-target-element="offcanvas-right" data-offcanvas-src="#offcanvas-right" class="c-header__link c-header__link--cart js-cartCanvas" ><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-menu">
        <div class="mobile-menu-head">
            <p class="mb-0 close-btn">&times;</p>
        </div>
        <div class="tab-div">
          <ul class="tab-ul-menu">
            <li class="shop is-active"><a href="#">Shop</a></li>
            <li class="learn"><a href="#">Learn</a></li>
          </ul>
        </div>
        <div class="mobile-menu-div">
            <ul class="list-unstyled mb-0">
              {% for link in linklists[section.settings.shop_linklist].links %}
                <li><a class="text-uppercase" href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
        </div>
        <div class="mobile-learnmenu-div">
          <ul class="list-unstyled mb-0">
            {% for link in linklists[section.settings.learn_linklist].links %}
              <li><a class="text-uppercase" href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
      </div>
    </div>
</nav>

</header>
<form action="/cart/add" method="post"  id="product-home" enctype="multipart/form-data">
  {% for product in collections.antiaging.products %}
    <input type="hidden" name="variantId" id="variantId" value="{{ product.variants[0].id }}" />
    <input id="quantity" min="1" name="quantity" style="display:none" type="number" value="1"/>
  {% endfor %}
  <button type="button" class="fixed mt-15  text-uppercase checkout_buy" ><i class="fa fa-shopping-bag"></i> &nbsp; BUY NOW</button>
</form>


{% schema %}
{
"name": "Header",
"settings": [
{
	"type":"checkbox",
	"id":"enable_section",
	"label": "Enable Annucement Bar?"
},
{
"type": "header",
"content": "Header"
},
{
	"type":"image_picker",
	"id":"logo_img",
	"label":"Logo Image"
},
{
	"type":"header",
	"content":"Menu"
},
{
  "type": "link_list",
  "id": "main_linklist",
  "label": "Desktop Menu"
},
{
  "type": "link_list",
  "id": "shop_linklist",
  "label": "Shop Menu"
},
{
  "type": "link_list",
  "id": "learn_linklist",
  "label": "Learn Menu"
}
],
"blocks": [
  {
    "type": "content",
    "name": "Announcement Block",
    "settings": [
      {
        "type":"text",
        "id":"annucement_text",
        "label":"Annucement Text"
      }   
    ]
  }
]
}
{% endschema %}


{% javascript %}
{% endjavascript %}