{% if section.settings.enable_section %}
<section class="instfeed py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <p><i class="fa fa-instagram icon-insta" aria-hidden="true"></i></p>
                <h3>{{ section.settings.heading_title}} <a href="{{section.settings.insta_url}}">{{section.settings.url_title}}</a></h3>
            </div>
            <div class="col-12">
                <div class="row instra-main pt-4 m-0">
                 	{%  for block in section.blocks %}
                 	 <div class=" col insta_post">
                        <div class="insta_post_img">
                            <a href="{{block.settings.insta_post_url}}"> </a><img src="{{block.settings.insta_image | img_url:'original' }}" alt="{{block.settings.insta_image.alt | default:shop.name }}" />
                        </div>
                    </div>
                  {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% schema %}
{
"name": "Instagram Section",
"max_blocks":5,
"settings": [
	{
        "type":"checkbox",
        "id": "enable_section",
        "label":"Enable Section?"
    },
	{
        "type":"text",
        "id":"heading_title",
        "label":"Title Text",
		"default":"FOLLOW US"
    },
	{
        "type":"text",
        "id":"url_title",
        "label":"Url Text",
		"default":"@lalucollection"
    },
	{
        "type":"url",
        "id":"insta_url",
        "label":"Instagram Url"
    }
],
	"blocks": [
	{
    "type": "content",
    "name": "Instagram Images",
    "settings": [
        {
        "type":"image_picker",
        "id":"insta_image",
        "label":"Instagram Image"
    	},
        {
            "type":"url",
            "id":"insta_post_url",
            "label":"Instagram Post Url"
        }
       ]
     }
	],
"presets": [
{
"name": "Instagram",
"category": "Index"
}
]
}
{% endschema %}