{% if section.settings.enabled %}
<section class="regimen-section py-5">
    <div class="container py-3">
          <div class="row">
            <div class="col-12 text-center mb-3">
                {% if section.settings.title != blank %}
                  <h3 class="text-uppercase mb-2">{{ section.settings.title }}</h3>
                {% endif %}
                {% if section.settings.sub_title != blank %}
                  <p class="">{{ section.settings.sub_title }}</p>
              {% endif %}
            </div>
        </div>
        <div class="row align-item-center">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 text-right order-md-1 order-2">
                <div class="day-main-div">
                  <div class="head-div-day">
                    <h4 class=""><img class="day-img" src="{{ section.settings.day-image | img_url:'original' }}" alt="Day">  {{ section.settings.day_head }}</h4>
                  </div>
                  {% for block in section.blocks %}
                    {% if block.type == 'day' %}
                      <div class="day-box wow slideInDown" data-wow-delay="0.{{ forloop.index }}s">
                        {% if block.settings.day_text != blank %}
                          <h6>{{ block.settings.day_text }}</h6>
                        {% endif %}
                        {% if block.settings.day_content != blank %}
                          <p>{{ block.settings.day_content }}</p>
                        {% endif %}
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 m-auto order-md-2 order-1 img-main-div">
                <div class="animation-circle-inverse">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                {% if section.settings.regimen-image %}
              		<img class="img-fluid regimen-img" src="{{section.settings.regimen-image | img_url:'original'}}" alt="{{section.settings.regimen-image.alt | default:shop.name}}">
            	{% endif %}
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 text-left order-md-3 order-3">
              <div class="night-main-div">
                <div class="head-div-night">
                  <h4><img  class="night-img" src="{{ section.settings.night-image | img_url:'original' }}" alt="Night">  {{ section.settings.night_head }}</h4>
                </div>
                {% for block in section.blocks %}
                  {% if block.type == 'night' %}
                    <div class="night-box wow slideInUp" data-wow-delay="0.{{ forloop.index }}s">
                          {% if block.settings.night_text != blank %}
                            <h6>{{ block.settings.night_text }}</h6>
                          {% endif %}
                          {% if block.settings.night_content != blank %}
                            <p>{{ block.settings.night_content }}</p>
                          {% endif %}
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
        </div>
        <div class="col-12">
          <a class="button-all" href="{{ section.settings.btn_url }}">{{ section.settings.btn_text }}</a>
        </div>
    </div>
</section>
{% endif %}
{% schema %}
{
"name": "Regimen Section",
"settings": [
  {
  "type": "checkbox",
  "id": "enabled",
  "label":" Enable Section?"
  },
  {
    "type": "text",
    "id": "title",
    "label": "Title"
  },
  {
    "type": "textarea",
    "id": "sub_title",
    "label": "SubTitle"
  },
  {
    "type": "image_picker",
    "id": "regimen-image",
    "label": "Image"
  },
  {
    "type": "text",
    "id": "day_head",
    "label": "Day"
  },
  {
    "type": "image_picker",
    "id": "day-image",
    "label": "Image"
  },
  {
    "type": "text",
    "id": "night_head",
    "label": "Night"
  },
  {
    "type": "image_picker",
    "id": "night-image",
    "label": "Image"
  },
  {
    "type": "text",
    "id": "btn_text",
    "label": "Button Text"
  },
  {
    "type": "url",
    "id": "btn_url",
    "label": "Button Url"
  }
],
"blocks": [
{
  "type": "day",
  "name": "Day Block",
  "settings": [
      {
        "type": "text",
        "id": "day_text",
        "label": "title"
      },
      {
      "type": "textarea",
      "id": "day_content",
      "label": "SubTitle"
      }
	]
},
{
  "type": "night",
  "name": "Night Block",
  "settings": [
    {
      "type": "text",
      "id": "night_text",
      "label": "title"
    },
    {
      "type": "textarea",
      "id": "night_content",
      "label": "SubTitle"
    }
  ]
}
],
"presets": [
{
"name": "Regimen",
"category": "Index"
}
]
}
{% endschema %}