{% if section.settings.enabled %}
<section class="slider_section py-4">
    <div class="container">
        <div class="row">
            <div class="col-11 m-auto">
                <div class="slider_div">
                    {% for block in section.blocks %}
                      {% if block.settings.brand %}
                      <div>
                          <img src="{{block.settings.brand  | img_url:'original' }}" alt="{{block.settings.brand.alt | default: shop.name}}" class="mw-100 img-fluid m-auto" />
                      </div>
                	  {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %} 

{% schema %}
{
"name": "Brands slider Section",
"settings": [
  {
  "type": "checkbox",
  "id": "enabled",
  "label":" Enable Section ?"
  }
],

"blocks":[
	{
  "name":"Brand",
  "type":"brand",
    "settings": [
      {
      "id": "brand",
      "type": "image_picker",
      "label": "Choose Brand"
		}
     ]
  }
  ],
"presets": [
{
"name": "Brands Slider",
"category": "Index"
}
]
}
{% endschema %}