{% if section.settings.enable_section %}
<section class="proven_results">
    <div class="container">
        <div class="row py-5">
            <div class="col-11 m-auto">
                <div class="row align-items-center">
                    <div class="col-xl-4 col-lg-4 col-md-4 p-0">
                      <div class="col-12 p-0">
                          <div class="proven-nav-box">
                            {% if section.settings.heading_title != blank %}
                              <h5>{{ section.settings.heading_title }}</h5>
                            {% endif %}
                          
                            {% if section.settings.sub_line_text != blank  %}
                              <p class="mb-0">{{ section.settings.sub_line_text }}</p>
                            {% endif %}
                          </div>
                      </div>
                    </div>
                 
                    <!-- <div
                        class="col-12 col-xl-6 col-lg-6 col-md-12 col-sm-12 text-left text-xl-right text-lg-right text-md-left text-sm-left">
                   
                        <iframe src="{{section.settings.video}}?rel=0" height="290" width="100%">
                        </iframe>
                    </div> -->
                    <div class="col-12 col-xl-8 col-lg-8 col-md-8 mt-xl-0 mt-lg-0 mt-3">
                      <div class="proven-img-slider">
                        {% for block in section.blocks %}
                            {% if block.settings.result_img != blank  %}
                              <img src="{{ block.settings.result_img | img_url:'original' }}" alt="Result Image" />
                            {% endif %}
                        {% endfor %}
                      </div>
                      <div class="row before-after">
                        <div class="col-6">
                            <h6 class="text-center">{{ section.settings.before_text }}</h6>
                        </div>
                        <div class="col-6">
                          <h6 class="text-center">{{ section.settings.after_text }}</h6>
                      </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% schema %}
{
"name": "Proven Result Section",
"settings": [
	{
        "type":"checkbox",
        "id": "enable_section",
        "label":"Enable Section?"
    },
  {
    "type":"url",
    "id" :"video",
    "label":"Video Link"

  },
    {
        "type":"text",
        "id":"heading_title",
        "label":"Title Text"
    },
	{
        "type":"textarea",
        "id":"sub_line_text",
        "label":"Tag Line Text"
    },
    {
      "type":"text",
      "id":"before_text",
      "label":"Before"
    },
    {
      "type":"text",
      "id":"after_text",
      "label":"after"
    }
	
],
"blocks": [
{
  "type": "image",
  "name": "proven Block",
  "settings": [
    {
      "type": "image_picker",
      "id": "result_img",
      "label": "Result Image"
    }
	]
}
],
"presets": [
{
"name": "Proven Result",
"category": "Index"
}
]
}
{% endschema %}