{% if section.settings.enable_section %}
<section class="doctor-index">
    <div class="container">
        <div class="row py-3">
          <div class="col-12 text-center py-3 mb-2">
            {% if section.settings.top-text != blank %}
              <h3 class="text-uppercase">{{ section.settings.top-text }}</h3>
            {% endif %}
            {% if section.settings.sub_line_text != blank %}
              <p>
                  {{ section.settings.sub_line_text }}
              </p>
            {% endif %}
          </div>
            <div class="col-md-11 m-auto">
                <div class="row">
                    <div
                        class="col-12 col-xl-6 col-lg-6 col-md-8 col-sm-10  p-0  m-auto text-left text-xl-right text-lg-right text-md-left text-sm-left">
                   
                        <iframe class="wow pulse" data-wow-iteration="2" src="{{section.settings.video}}?rel=0" height="290" width="100%">
                        </iframe>
                    </div>
                    <div class="col-12 mt-4">
                        <a class="button-all" href="{{ section.settings.btn_url }}">{{ section.settings.btn_text }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% schema %}
{
"name": "Doctor Recommended",
"settings": [
	{
        "type":"checkbox",
        "id": "enable_section",
        "label":"Enable Section?"
    },
	{
	"type" : "text",
	"id" : "top-text",
	"label" : "Top Title"
  },
  {
    "type":"text",
    "id":"sub_line_text",
    "label":"Tag Line Text"
  },
  {
    "type":"url",
    "id" :"video",
    "label":"Video Link"

  },
  {
      "type":"text",
      "id":"btn_text",
      "label":"Button Text"
  },
  {
    "type":"url",
    "id":"btn_url",
    "label":"Button Text"
  }
	  
],
"presets": [
{
"name": "Doctor Recommended",
"category": "Index"
}
]
}
{% endschema %}