{% if section.settings.enable %}
<section class="literally-section py-5">
    <div class="container py-3">
        <div class="row">
            <div class="col-12 text-center mb-5">
                <h3 class="text-uppercase mb-0">THIS Lalu WON'T SUCK, LITERALLY</h3>
            </div>
        </div>

        <div class="col-11 m-auto">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                    <div class="litt-box">
                        <div class="litt-icon-box">
                            <img src="images/loyalty.png" alt="Loyalty Program">

                        </div>
                        <h5 class="text-uppercase">Loyalty program</h5>
                        <p class="mb-0">Earn discounts by simply purchasing product or referring your friends! </p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                    <div class="litt-box">
                        <div class="litt-icon-box">
                            <img src="images/low-shipping.png" alt="Low Shipping">
                        </div>
                        <h5 class="text-uppercase">Free/Low Shipping</h5>
                        <p class="mb-0">Earn discounts by simply purchasing product or referring your friends! </p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                    <div class="litt-box">
                        <div class="litt-icon-box">
                            <img src="images/pending.png" alt="FDA Pending">
                        </div>
                        <h5 class="text-uppercase">fda Pending</h5>
                        <p class="mb-0">Wold wide Patent's pending - Patent Cooperation Treaty (PCT)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% schema %}
{
"name": "Featured Content",
"class": "index-featured-section",
"settings": [
{
"type": "checkbox",
"id": "enable",
"label": "Enable"
},
{
"type": "image_picker",
"id": "bg_image",
"label": "Background image"
},
{
"type": "textarea",
"id": "title",
"label": "heading",
"default": "THE BEST MACKUP FORMULAS MADE FOR THE PARTY"
}
],
"blocks": [{
"type": "image",
"name": "Content Block",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "Block image"
},
{
"type": "textarea",
"id": "title",
"label": "heading",
"default": "FORMULA OSWAL WEN"
},
{
"type": "textarea",
"id": "subtitle",
"label": "Details"
}
]
}],
"presets": [
{
"name": "Featured Content",
"category": "Image with text"
}
]
}
{% endschema %}