{% if section.settings.enable_section %}
<section class="banner-section">
    <div class="banner-div">
        <img class="banner-img" src="{{ section.settings.banner_img | img_url:'1920x' }}" alt="Banner image">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-7 col-lg-10 col-md-7 ml-auto text-xl-left text-lg-left text-md-left text-center">
                    <div class="banner-content">
                      {% if section.settings.banner_head_1 %}
                        <h3 class="text-uppercase">{{ section.settings.banner_head_1 }}</h3>
                      {% endif %}
                      {% if section.settings.banner_head_2 %}
                        <h5 class="text-uppercase">{{ section.settings.banner_head_2 }}</h5>
                      {% endif %}
                      {% if section.settings.banner_head_3 %}  
                      	<h1 class="text-dark">{{ section.settings.banner_head_3 }}</h1>
                      {% endif %}
                      {% if section.settings.banner_subhead %}
                      	<p class="my-3">{{ section.settings.banner_subhead }}</p>
                      {% endif %}
                      {% if section.settings.button_1 %}
                      	<a href="{{ section.settings.button_1_url }}" class="button-all banner-btn mr-3 mb-3">{{ section.settings.button_1 }}</a>
					  {% endif %}
                      {% if section.settings.button_2 %}
					  	<a href="#mydiv" class="button-all banner-btn-2  m-0 html5lightbox" data-width=800 data-height=400 >{{ section.settings.button_2 }}</a>
					  {% endif %}
                  </div>
                </div>
            </div>
        </div>
    </div>

</section>
<div id="mydiv" style="display:none;">
	<div class="lightboxcontainer">
	  <div class="lightboxright">
		<iframe width="100%" height="400px" src="{{ section.settings.button_2_url }}" frameborder="0"  allowfullscreen></iframe>
	  </div>
	  <div style="clear:both;"></div>
  	</div>
  </div>
{% endif %}

{% schema %}
{
"name": "Index Banner Section",
"class": "index-banner-section",
"settings": [
    {
      "type": "checkbox",
      "id": "enable_section",
      "label": "Enable Banner Section?"
    },
	{
		"type":"image_picker",
		"id":"banner_img",
		"label": " Banner Image"
	},
	{
		"type":"text",
		"id":"banner_head_1",
		"label": " Banner Heading 1"
	},
	{
		"type":"text",
		"id":"banner_head_2",
		"label": " Banner Heading 2"
	},
	{
		"type":"text",
		"id":"banner_head_3",
		"label": " Banner Heading 3"
	},
	{
		"type":"textarea",
		"id":"banner_subhead",
		"label": " Banner Subheading"
	},
	{
		"type":"text",
		"id":"button_1",
		"label": "Text Button 1"
	},
	{
		"type":"url",
		"id":"button_1_url",
		"label": "Url"
	},
	{
		"type":"text",
		"id":"button_2",
		"label": "Text Button 2"
	},
	{
		"type":"url",
		"id":"button_2_url",
		"label": "Url"
	}
],
"presets": [
{
  "name": "Index Banner",
  "category": "Banner"
}
]
}
{% endschema %}