{% if section.settings.enable_section %}
<section class="undersanding-skin mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-3">
                {% if section.settings.heading_title != blank %}
                  <h3 class="text-uppercase mb-2">{{ section.settings.heading_title }}</h3>
                {% endif %}
                {% if section.settings.sub_title != blank %}
                  <p class="">{{ section.settings.sub_title }}</p>
              {% endif %}
            </div>
        </div>
        <div class="row">
          <div class="col-12">
            <ul class="skin-nav list-unstyled mb-0">
              {% for block in section.blocks %}
              {% if block.type == 'nav-head' %}
              <li class="skin-nav-box">
                <h5>{{ block.settings.title_nav }}</h5>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="col-xl-8 col-md-11 col-12 m-auto">
              
            <div class="skin-image-slider ">
              {% for block in section.blocks %}
                  {% assign skin_image = block.settings.image %}
                  {% assign skin_title = block.settings.title %}
                  {% assign skin_subtitle = block.settings.subtitle %}
                  {% if block.type == 'image' %}
                  <div>
                    <div class="skin-box skin-radius-1">
                        <div class="skin-img-div text-center">
                          <img src="{{ skin_image | img_url:'original' }}" alt="{{ skin_title }}" class="img-fluid">
                        </div>
                        <div class="skin-content-div">
                          <h5 class="text-uppercase">{{ skin_title }}</h5>
                          <p class="mb-2">{{ skin_subtitle }}</p>
                          <a href="{{ block.settings.btn_url }}" class="button-all banner-btn btn-sm">Learn More</a>
                        </div>
                        
                    </div>
                  </div>
                  {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
        <!-- <div class="row understanding-img pt-5 align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6 text-center">
                <img class="img-fluid m-auto" src="{{ section.settings.image_skin_1 | img_url:'original' }}" alt="{{ shop.name }}">
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 text-center">
                <img class="img-fluid m-auto" src="{{ section.settings.image_skin_2 | img_url:'original' }}" alt="{{ shop.name }}">
            </div>
        </div> -->
    </div>
</section>
{% endif %}


{% schema %}
{
"name": "Skin Benefits",
"settings": [
  {
    "type": "checkbox",
    "id": "enable_section",
    "label": "Enable Section"
  },
  {
    "type":"text",
    "id":"heading_title",
    "label":"Title Text"
  },
  {
    "type":"textarea",
    "id":"sub_title",
    "label":"Title Text"
  },
  {
	"type": "image_picker",
	"id": "image_skin_1",
	"label": "Skin Image 1"
  },
  {
	"type": "image_picker",
	"id": "image_skin_2",
	"label": "Skin Image 2"
  }
],
"blocks": [
{
  "type": "image",
  "name": "Skin Block",
  "settings": [
      {
      "type": "image_picker",
      "id": "image",
      "label": "Block image"
      },
      {
      "type": "text",
      "id": "title",
      "label": "heading"
      },
      {
      "type": "textarea",
      "id": "subtitle",
      "label": "SubTitle"
      },
      {
        "type": "url",
        "id": "btn_url",
        "label": "Url"
      }
	]
},
{
  "type": "nav-head",
  "name": "Skin Nav",
  "settings": [
    {
      "type": "text",
      "id": "title_nav",
      "label": "Nav Title"
    }
  ]
}
]
}
{% endschema %}