{% if section.settings.enable_section %}
<section class="free-shiping-section py-5 bg-info">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-5 col-md-5 mb-xl-0 mb-lg-0 mb-md-0 mb-4">
                <div class="free-shipping-content">
                    <div class="content py-5">
                      	{% if section.settings.title_1 %}
                        	<h3 class="text-uppercase text-white">{{ section.settings.title_1 }}</h3>
                      	{% endif %}
                      	{% if section.settings.title_2 %}
                        	<h6 class="text-uppercase text-white">{{ section.settings.title_2 }}</h6>
                      	{% endif %}
                      	{% if section.settings.title_3 %}
                        	<h5 class="text-uppercase bg-white">{{ section.settings.title_3 }}</h5>
                      	{% endif %}
                      	{% if section.settings.button_text %}
                        	<a href="/shop" class="button-all d-block">{{ section.settings.button_text }}</a>
                      	{% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7">
                <img class="img-fluid" src="{{ section.settings.free_shipping_img | img_url:'original' }}" alt="Free Shipping">
            </div>
        </div>
    </div>
</section>
{% endif %}

{% schema %}
{
"name": "Free Shipping Section",
"settings": [
	{
      "type":"checkbox",
      "id": "enable_section",
      "label":"Enable Section?"
    },
	{
      "type":"text",
      "id": "title_1",
      "label":"Title 1"
    },
	{
      "type":"text",
      "id": "title_2",
      "label":"Title 2"
    },
	{
      "type":"text",
      "id": "title_3",
      "label":"Title 3"
    },
	{
      "type":"text",
      "id": "button_text",
      "label":"Button Text"
    },
	{
      "type":"image_picker",
      "id": "free_shipping_img",
      "label":"Image"
    }
],
"presets": [
{
"name": "Free Shipping",
"category": "Index"
}
]
}
{% endschema %}