{% if section.settings.enable_section %}
<section class="easy-use">
    <div class="container">
        <div class="row py-5">
            <div class="col-xl-10 col-lg-11 col-md-12 col-sm-6 col-12 m-auto">
                <div class="row">
                    <div class="col-12 text-center mb-4">
                        <h3 class="text-uppercase">{{ section.settings.heading_title }}</h3>
                    </div>
                  	{% for block in section.blocks limit:3 %}
                        {% assign easy_image = block.settings.image %}
                        {% assign easy_title = block.settings.title %}
                        {% assign easy_subtitle = block.settings.subtitle %}
                      <div class="col-12 col-xl-4 col-lg-4 col-md-4 col-sm-12 text-center">
                          <img class="wow swing mb-3 use-img"  src="{{ easy_image | img_url:'original' }}" alt="{{ easy_title }}" class="mb-3 w-50" />
                          <h5>{{ easy_title }}</h5>
                          <p>{{ easy_subtitle }}</p>
                      </div>
                  	{% endfor %}	
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% schema %}
{
"name": "Easy to Use Section",
"settings": [
  {
    "type": "checkbox",
    "id": "enable_section",
    "label": "Enable Section"
  },
  {
    "type":"text",
    "id":"heading_title",
    "label":"Title Text"
  }
],
"blocks": [{
    "type": "content",
    "name": "Easy Use Block",
    "settings": [
        {
        "type": "image_picker",
        "id": "image",
        "label": "Block image"
        },
        {
        "type": "text",
        "id": "title",
        "label": "heading"
        },
        {
        "type": "textarea",
        "id": "subtitle",
        "label": "SubTitle"
        }
	]
}],
"presets": [
{
"name": "Easy To Use",
"category": "Index"
}
]
}
{% endschema %}