{% if section.settings.enable_section %}
    <section class="quiz-section-index pt-5">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6 order-md-1 order-2">
					<div class="quiz-content wow slideInDown">
						{% if section.settings.head_text%}
							<h4 class="mb-3">{{ section.settings.head_text }}</h4>
						{% endif %}
						{% if section.settings.sub_text%}
							<p>{{ section.settings.sub_text }}</p>
						{% endif %}
						{% if section.settings.btn_text %}
							<a class="ml-0 button-all" href="{{ section.settings.btn_url }}">{{ section.settings.btn_text }}</a>
						{% endif %}
					</div>
				</div>
				<div class="col-md-6 order-md-2 order-1 wow slideInUp">
					<div class="quiz-img-div">
						<img class="img-fluid mb-md-0 mb-3" src="{{ section.settings.quiz_img | img_url: 'original' }}" atl="">
					</div>
				</div>
			</div>
		</div>
    </section>
{% endif %}
{% schema %}
{
"name": "Index Quiz Section",
"class": "index-quiz-section",
"settings": [
    {
      "type": "checkbox",
      "id": "enable_section",
      "label": "Enable Banner Section?"
    },
	
	{
		"type":"text",
		"id":"head_text",
		"label": "Heading"
	},
	{
		"type":"textarea",
		"id":"sub_text",
		"label": "content"
	},
	{
		"type":"text",
		"id":"btn_text",
		"label": "Button Text"
	},
	{
		"type":"url",
		"id":"btn_url",
		"label": "Button Url"
	},
	{
		"type":"image_picker",
		"id":"quiz_img",
		"label": "Image"
	}
],
"presets": [
{
  "name": "Quiz Section",
  "category": "Index"
}
]
}
{% endschema %}