{% if section.settings.enable_section %}
<section class="literally-section py-5">
    <div class="container py-3">
      	{% if section.settings.heading_title %}
        <div class="row">
            <div class="col-12 text-center mb-5">
                <h3 class="text-uppercase mb-0">{{ section.settings.heading_title }} </h3>
            </div>
        </div>
      	{% endif %}

        <div class="col-11 m-auto">
            <div class="row">
              	{% for block in section.blocks limit:3 %}
                  {% assign image = block.settings.image %}
                  {% assign title = block.settings.title %}
                  {% assign subtitle = block.settings.subtitle %}
                <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                    <div class="litt-box">
                        <div class="litt-icon-box">
                            <img src="{{ image | img_url:'original' }}" alt="{{ title }}">

                        </div>
                        <h5 class="text-uppercase">{{ title }}</h5>
                        <p class="mb-0">{{ subtitle }}</p>
                    </div>
                </div>
              {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}

{% schema %}
  {
    "name": "literally section name",
    "settings": [
		{
			"type":"checkbox",
			"id": "enable_section",
			"label":"Enable Section?"
		},
		{
			"type":"text",
			"id":"heading_title",
			"label":"Title Text"
		}
	],
  	"blocks": [{
    	"type": "image",
    	"name": "Literally Block",
      	"settings": [
          {
              "type": "image_picker",
              "id": "image",
              "label": "Block image"
          },
          {
              "type": "text",
              "id": "title",
              "label": "heading"
          },
          {
              "type": "textarea",
              "id": "subtitle",
              "label": "SubTitle"
          }
      ]
	}],
	"presets": [
        {
          "name": "Literally section",
          "category": "Index"
        }
     ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
