{% if section.settings.enable_section %}
<section>
<div class="news_letter">
    <div class="container">
      <div class="row">
        <div class="col-11 m-auto bg-orange shadow">
          <div class="row px-2 py-4 align-items-center">
            <div
              class="col-12 col-lg-6 col-xl-6 col-md-6 mb-xl-0 mb-lg-0 mb-md-0 mb-3 text-xl-left text-lg-left text-md-left  text-center">
              <h5 class="mb-0">{{section.settings.section_title}}</h5>
              <p class="mb-0">{{section.settings.subheading}}
                
              </p>
            </div>
            <div class="col-12 col-lg-6 col-xl-6 col-md-6">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Email-Address" aria-label="Recipient's username"
                  aria-describedby="button-addon2" />
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%  endif %}
  {% schema %}
  {
    "name": "Newsletter section",
    "settings": [
     {
        "type": "checkbox",
        "id": "enable_section",
        "label": "Enable Section"
      },
 		{
        "type": "text",
        "id": "section_title",
        "label": "Heading",
        "default": "Subscribe to our newsletter"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "Subscribe and be the first to know about our special offers!"
      }
    ],
    "presets": [
    {
          "name": "Newsletter",
          "category": "Index"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
