{% if section.settings.enable_section %}
<section class="ingredient-section">
  	<div class="container">
      <div class="row m-0">
        <div class="col-12 text-xl-left text-lg-left text-md-left text-center">
          <h3 class="title itc-font">{{ section.settings.title }}</h3>
        </div>
      </div>
      <div class="semi-title-row row mb-5">
        <div class="col-xl-5 text-xl-left text-lg-left text-md-left text-center">
          <span class="bg-tag">{{ section.settings.tab_tag }}</span>
        </div>
        <div class="col-xl-7 pr-0 mt-xl-0 mt-4 padding-15">
          <div class="row m-0">
            <div class="col-xl-5 col-lg-5 col-md-5 text-xl-left text-lg-left text-md-left text-center">
              <h5 class="tab_tag">{{ section.settings.semi_tab_tag }}</h5>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7 left-border pr-0 text-xl-left text-lg-left text-md-left text-center mt-xl-0 mt-lg-0 mt-md-0 mt-4">
              <p>At La Lu Collections, We use the best organic ingredients such as <b>lavender, grapefruit seed extract, avocado oil,...for the greatest results.</b></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row pt-xl-5 pt-lg-5 pt-md-5 pt-0">
        {% for  block in section.blocks %}
        {% if block.type == 'content' %}
        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6 m-auto">
          <div class="ingredients-box">
            <div class="ingredients_img">
              <img src="{{ block.settings.image | img_url:'original' }}" atl="" />
            </div>
            <div class="ingredients_content">
              <h6 class="text-center">{{ block.settings.title_box }}</h6>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
  	</div>
</section>
{% endif %}

{% schema %}
  {
    "name": "Ingredient Section",
    "settings": [
		{
          "type": "checkbox",
          "id": "enable_section",
		  "label": "Enable Section?"
		},
		{
			"type":"text",
			"id": "title",
			"label": "Title"
		},
		{
			"type":"text",
			"id": "tab_tag",
			"label": "Tag Head"
		},
		{
			"type":"text",
			"id": "semi_tab_tag",
			"label": "Semi Tag Head"
		},
		{
			"type":"textarea",
			"id": "semi_tab_content",
			"label": "Semi Tag Content"
		}
	],
	"blocks": [
	  {
      "type": "content",
      "name": "Indredient Block",
      "settings": [
          {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
          },
          {
          "type": "text",
          "id": "title_box",
          "label": "Title"
          }
        ]
    }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
