<div class="order-popup-mian">
    <div class="row m-0 align-items-center">
        <div class="close-btn">
            <span aria-hidden="true">&times;</span>
        </div>
        {% comment %} <div class="col-4 order-img-div ">
            <img src="https://cdn.shopify.com/s/files/1/0102/0379/1457/products/pr.jpg?v=1576574443" alt="">
        </div> {% endcomment %}
        <div class="col-12 order-content-div pr-4 py-2">
            <p><span id="c_name">Joanne </span> from, United States purchased <span style="color:#74956C;">Lalu® Rejuvenation Cream</span></p>
            <a href="" class="checkout_buy">Get Involved Now</a>
        </div>
    </div>
</div>