<section class="our_team py-5">
    <div class="container">
        <div class="row pb-4">
            <div class="col-12">
                <h3 class="text-center">{{section.settings.head-txt}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-10 m-auto">
                <div class="row">
                    {% for block in section.blocks %}
                    <div class="col-md-4 mb-mb-0 mb-3">
                        <div class="member_mard text-center">
                            <div class="member_img_div">
                                <img  src="{{ block.settings.mem_img | img_url: 'original' }}" atl="">
                            </div>
                            <div class="member_header">
                                <h6 class="mem_name py-3">{{block.settings.member_name}}</h6>
                                <p class="s-text">{{block.settings.mem_desi}}</p>
                            </div>
                            <div class="member_body">
                                <p class="s-text">{{block.settings.mem_dec}}</p>
                            </div>
                            <ul class="social_icon">
                                <li><a href="{{ block.settings.twitter_url }}"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="{{ block.settings.facebook_url }}"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="{{ block.settings.instagram_url }}"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name":"Our Team",
    "settings": [   
    {
        "type": "text",
        "id" : "head-txt",
        "label" : "Header Text"
    }
    ],
    "blocks": [
      {
      "type": "item",
      "name": "Our Team",
      "settings": [
      {
      "type":"text",
      "id":"member_name",
      "label":"Name"
      },
      {
        "type": "image_picker",
        "id": "mem_img",
        "label": "Member Img"
        },
        {
        "type": "text",
        "id": "mem_desi",
        "label": "Member Designation"
        },
        {
            "type": "textarea",
            "id": "mem_dec",
            "label": "Member Description"
        },
        {
            "type": "header",
            "content": "Social Icon"
        },
        {
            "type": "url",
            "id": "twitter_url",
            "label": "Twitter"
        },
        {
            "type": "url",
            "id": "facebook_url",
            "label": "Facebook"
        },
        {
            "type": "url",
            "id": "instagram_url",
            "label": "Instagram"
        }
      ]
}
]
}
{% endschema %}