<div id="mpopupBox" class="mpopup">
{% comment %} <form id="email_signup" action="//manage.kmail-lists.com/subscriptions/subscribe" method="POST"> {% endcomment %}
<form id="email_signup" class="newslettermodal-content-form text-center klaviyo_styling klaviyo_gdpr_embed_NwHAhx" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
        <div class="newsletter-content">
          <div class="mpopup-head">
              <svg class="close-model" viewBox="0 0 32 32"><path d="M10,10 L22,22 M22,10 L10,22"></path></svg>
          </div>  
      <input type="hidden" name="g" value="NwHAhx">
      <input type="hidden" name="$fields" value="coupon_code">  
         {% comment %}
          <div class="row no-gutters align-items-center" id="main_content">
            <div class="col-6 d-none d-md-flex align-items-center justify-content-center">
                <div class="newslettermodal-img">
                    <img src="{{ settings.img_main | img_url:'original' }}" alt="{{ 'general.theme.subscribe_us' | t }}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="newslettermodal-content">
                    <div class="newslettermodal-content-center">
                        <div class="newslettermodal-content-logo">
                            <img class="desk-logo" src="{{ settings.logo_img | img_url:'original' }}" alt="{{ shop.title }}">
                            <img class="mob-logo" src="{{ settings.logo_img_mob | img_url:'original' }}" alt="{{ shop.title }}">
                        </div>
                        <p class="text_desc text-center">{{ settings.newsletter_popup_desc }}</p>                  
                            <div class="form-group">
                                <input type="hidden" name="contact[tags]" value="newsletter">
                                <input type="email" name="contact[email]" id="email" class="form-control" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="Sign Up" required>
                            <p class="error_1">Please Provide Your Email</p>
                            </div>
                            <button type="button" class="button-all banner-btn-2  m-0 html5lightbox" id="button_1">Get Coupan</button>
                            <!-- <div class="checkbox-group mt-2">
                                <input type="checkbox" name="newsletter" id="newsLetterCheckBox">
                                <label for="newsLetterCheckBox">{{ 'general.theme.donot_show' | t }}</label>
                            </div> -->
                    </div>
                </div>
            </div>
          </div>
          {% endcomment %}
          <div class="row title_main">
              <div class="col-11  m-auto">
                   <h5 class="title">{{section.settings.title}}</h5>
              </div>
          </div>
            <ul id="progressbar">
                      {% comment %} <li class="step active" id="question_1" ><strong>Skin Concerns</strong></li> {% endcomment %}
                      <li id="question_2"  class="step active"><strong>Skin Concerns</strong></li>
                      <li id="coupan" class="step"><strong>Coupan</strong></li>
            </ul>
          {% comment %} <div class="row setup-content-1" >
              <div class="col-md-12 p-lg-4 p-md-1">
                  <h6> {{section.settings.question_1}}</h6>
                  <div class="form-group">
                      <!-- <textarea class="form-control" id="answer_1_text" rows="3"></textarea> -->
                      <ul class="radio-ul">
                        <li class="">
                          <div class="custome-option">
                              <input type="radio"  name="Concern">
                              <div class="concern-label">
                                  <p>Wrinkles</p>
                              </div>
                          </div>
                        </li>
                        <li class="">
                          <div class="custome-option">
                              <input type="radio"  name="Concern">
                              <div class="concern-label">
                                  <p>Fine lines</p>
                              </div>
                          </div>
                        </li>
                        <li class="">
                          <div class="custome-option">
                              <input type="radio"  name="Concern">
                              <div class="concern-label">
                                  <p>Age Spots</p>
                              </div>
                          </div>
                        </li>
                        <li class="">
                          <div class="custome-option">
                              <input type="radio"  name="Concern">
                              <div class="concern-label">
                                  <p>Redness</p>
                              </div>
                          </div>
                        </li>
                    </ul>
                  </div>   
                  <div class="row">
                    <div class="col-8 text-center">
                    <p class="error_2">Choose Your Valuable Answer.</p>
                    </div>
                    <div class="col-4">
                    <button class="button-all nextBtn btn-sm mb-lg-3 mb-1" type="button"  id="button_2" >NEXT</button>
                    </div>  
                  </div>                   
              </div>
          </div> {% endcomment %}
            <div class="row setup-content-2">
                        <div class="col-md-12 pl-lg-3 pr-lg-3 pb-lg-3 pt-lg-1 p-md-1">
                              <h6 class="text-center"> {{section.settings.question_2}}</h6>
                              <div class="form-group m-auto">
                                {% comment %} <textarea class="form-control" id="answer_2_text" rows="3"></textarea> {% endcomment %}
                              <input type="email" name="email" id="k_id_email" class="form-control" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="Email" required>
                            	<input type="hidden" value="" class="input-field required form-control border-right-0 h-auto" name="coupon_code" id="k_id_coupon_code" style='display:none'/> 

                              </div> 
                              <div class="klaviyo_messages">
                                <!--           <div class="success_message" style="display:none;"></div> -->
                              <div class="error_message" style="display:none; color: #74956c; font-size: 15px; text-align:left; padding-left: 15px;padding-top:10px;"></div>
                            </div>
                              <p class="error_3 text-center">Please Provide Your Email!</p>
                              <p class="email_error text-center">Please Provide Valid Email !</p>

                              <h6 class="text-center"> {{section.settings.question_1}}</h6>
                              <div class="form-group m-auto">
                                  <!-- <textarea class="form-control" id="answer_1_text" rows="3"></textarea> -->
                                  <ul class="radio-ul">
                                    <li class="">
                                      <div class="custome-option">
                                          <input type="radio"  name="Concern" value="Wrinkles" required data-checked> 
                                          <div class="concern-label">
                                              <p>Wrinkles</p>
                                          </div>
                                      </div>
                                    </li>
                                    <li class="">
                                      <div class="custome-option">
                                          <input type="radio"  name="Concern" value="Fine lines"  required data-checked>
                                          <div class="concern-label">
                                              <p>Fine lines</p>
                                          </div>
                                      </div>
                                    </li>
                                    <li class="">
                                      <div class="custome-option">
                                          <input type="radio"  name="Concern" value="Age Spots" required data-checked>
                                          <div class="concern-label">
                                              <p>Age Spots</p>
                                          </div>
                                      </div>
                                    </li>
                                    <li class="">
                                      <div class="custome-option">
                                          <input type="radio"  name="Concern" value="Redness" required data-checked>
                                          <div class="concern-label">
                                              <p>Redness</p>
                                          </div>
                                      </div>
                                    </li>
                                    <li class="">
                                      <div class="custome-option">
                                          <input type="radio"  name="Concern" value="Psoriasis" required data-checked>
                                          <div class="concern-label">
                                              <p>Psoriasis</p>
                                          </div>
                                      </div>
                                    </li>
                                    <li class="">
                                      <div class="custome-option">
                                          <input type="radio"  name="Concern" value="eczema" required data-checked>
                                          <div class="concern-label">
                                              <p>eczema</p>
                                          </div>
                                      </div>
                                    </li>
                                   </ul>
                              </div>  
                              <p class="error_2 text-center">Choose Your Valuable Answer.</p>
                            <p class="text-center mb-0">
                           <button class="button-all nextBtn btn-sm" type="button" value="GET COUPON" id="button_3">GET COUPON</button>
                              <button class="button-all nextBtn btn-sm mb-lg-3 mb-1 get_coupan" type="submit" class="klaviyo_submit_button" style="display:none;">GET COUPON </button>
                                        </p>
                              {% comment %} <div class="row">
                                <div class="col-8 text-center"> 
                                <p class="error_3 text-center">Please Provide Your Email!</p>
                               <p class="email_error text-center">Please Provide Valid Email !</p>

                                </div>
                                <div class="col-4">
                                  <button class="button-all nextBtn btn-sm mb-lg-3 mb-1" type="button" id="button_3">GET COUPON</button>
                                </div>
                              </div>                         {% endcomment %}
                        </div>
            </div>
            <div class="row setup-content-3">
                <div class="col-md-12 text-center ">
                    <h4 class="text-center thank_you">Thank You!</h4>
                    <h6 class="coupan_main">Use below Coupon Code At Checkout to get Amazing Discount.</h6>
                    <h4 class="coupan_code">{{section.settings.coupan_code}}</h4>
                </div>
            </div>
      </div>
      </form>
{% comment %} </form> {% endcomment %}

</div> 
  

 {% comment %} 
 <div class="poll-question">
    <div class="modal fade" id="myModal">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h5 class="modal-title">{{section.settings.title}}</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
              <ul id="progressbar">
                <li class="step active" id="question_1" ><strong>Question 1</strong></li>
                <li id="question_2"  class="step"><strong>Question 2</strong></li>
                <li id="coupan" class="step"><strong>Coupan</strong></li>
              </ul> 
              <form role="form">
                <div class="row setup-content-1" id="answer_1_main">
                    <div class="col-md-12">
                        <h6> {{section.settings.question_1}}</h6>
                        <div class="form-group">
                            <ul class="radio-ul">
                                <li class="">
                                  <div class="custome-option">
                                      <input type="radio"  name="Concern">
                                      <div class="concern-label">
                                          <p>ACNE</p>
                                      </div>
                                  </div>
                                </li>
                                <li class="">
                                  <div class="custome-option">
                                      <input type="radio"  name="Concern">
                                      <div class="concern-label">
                                          <p>DULL SKIN</p>
                                      </div>
                                  </div>
                                </li>
                                <li class="">
                                  <div class="custome-option">
                                      <input type="radio"  name="Concern">
                                      <div class="concern-label">
                                          <p>FINE LINES</p>
                                      </div>
                                  </div>
                                </li>
                                <li class="">
                                  <div class="custome-option">
                                      <input type="radio"  name="Concern">
                                      <div class="concern-label">
                                          <p>REDNESS</p>
                                      </div>
                                  </div>
                                </li>
                            </ul>
                        </div>
                         <p class="error_1">Enter Your Valuable Answer.</p>
                        <button class="button-all nextBtn btn-sm pull-right" type="button"  id="button_2" >Next</button>
                    </div>
                </div>
                <div class="row setup-content-2 " id="answer_2_main">
                        <div class="col-md-12">
                            <h6> {{section.settings.question_2}}</h6>
                            <div class="form-group">
                              <div class="form-group">
                                <textarea class="form-control" id="answer_2_text" rows="3"></textarea>
                              </div>
                            </div>
                            <p class="error_2">Enter Your Valuable Answer.</p>
                            <button class="button-all nextBtn btn-sm pull-right" type="button" id="button_3">Next</button>
                        </div>
                </div>
                <div class="row setup-content-4" id="coupan_main">
                        <div class="col-md-12 text-center">
                            <h6>Use below Coupan Code At Checkout to get Amazing Discount.</h6>
                            <h4 class="coupan_code">{{section.settings.coupan_code}}</h4>
                        </div>
                </div>
              </form>
          </div>        
        </div>
      </div>
    </div>
    <div class="poll-div {% if section.settings.enable_poll %} is-visible{% endif %}">
        <a href="#myModal" data-toggle="modal">
          <i class="fa fa-bar-chart"></i> 
        </a>
    </div>
</div> 
{% endcomment %}
  {% schema %}
  {    
    "name": "poll-question",
    "settings": [ {
        "type":"text",
      "id":"title",
      "label":"Title",
      "default":"Quick Questions"
      },
      {
        "type": "checkbox",
        "id": "enable_poll",
        "label": "Enable"
      },
      {
        "type":"text",
      "id":"question_1",
      "label":"Question-1"
      },
      {
        "type":"text",
      "id":"question_2",
      "label":"Question-2"
      },
       {
        "type":"text",
      "id":"coupan_code",
      "label":"Coupan Code"
      }
    ]
  }
{% endschema %}