
<section class="product-detail-section pt-4">
  <div class="container">
    <div class="row">
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6">
        <div class="product-slider mb-3">
          {% for image in product.images %}
          <img src="{{ image.src | img_url:'original' }}" alt="{{ product.title }}"> {% endfor %}
        </div>
      </div>
      <div class="col-xl-6 col-lg-6">
        <div class="product-detail-content">
          <div class="product-head pb-3">
          <div>
            <h3>{{ product.title }}</h3>
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          </div>
            <div class="price mr-4 font-weight-bold">{{product.price | money }}</div>
            
          </div>
          <form id="AddToCartForm-{{ product.variants.first.id }}" action="/cart/add" method="post" enctype="multipart/form-data" data-productid="{{product.id}}" data-cart-submit="data-cart-submit" data-product-id="{{ product.id }}">
          <input type="hidden" name="id" value="{{product.variants.first.id}}">
            {% if section.settings.enable_watch %}
              <div class="watch_wrapper"><span class="content">🎁 </span><span id="watch"  class="content" data-range={{section.settings.watch}}> </span><span  class="content"> people Watching this product</span></div>
            {% endif %}
            <div class="product-qty py-2" data-qtyContainer>
              <div class="row pt-2">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                {% if product.options.first != 'Title' %}
                  <div class="product_title mb-2">
                    <h3>Choose your Size</h3>
                    <p class="popup_model" data-val="img" data-toggle="modal" data-target="#exampleModal" >Which Size is right for me?</p>
                  </div>
                  {% endif %}
                  {% include 'model' %}
                  <div class="form-group variant-col">
                    {% if product.options.first != 'Title' %}
                    <ul class="product_size p-0" name="id" id="product-select">
                      {% for variant in product.variants %}
                      <li class="producut_option">
                        <input class="product_input" type="radio" value="{{variant.id}}" name="size" data-title="{{variant.title}}" {% if variant.title=="MINI"
                          %} checked {% endif %}>
                        <label class="product_label" for="size">
                          <span>{{variant.title}}</span>
                        </label>
                      </li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                    {% if product.options.first != 'Title' %}
                      <div class="product_msg" id="msg-1">
                      <strong>Upgrade to the Larger Size!</strong>
                      <p>Save money and order less often.</p>
                    </div>
                    <div class="product_msg" id="msg-2">
                      <strong>Great choice!</strong>
                      <p>Happy Skin. Happy Wallet. Run out less often.</p>
                    </div>
                  <div class="product_title">
                    <h3>Choose your schedule</h3>
                  </div>
                    {% endif %}
                  
                  <!-- Begin ReCharge code -->
                   {% if product.available %}{% include 'subscription-product' %}{% endif %}
                  <!-- End ReCharge code -->
                  <div class="product_title mb-2">
                    <h3>Choose your Quantity</h3>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <div class="pro-qty-div">
                        <button class="minus-btn qty-btn qty-btns" data-direction="-1">-</button>
                        <input id="Quantity" name="quantity"  class="quntity-input qty-input text-center" type="text" data-qty readonly
                          value="1">
                        <button class="plus-btn qty-btn qty-btns" data-direction="1">+</button>
                      </div>
                    </div>
                    <div class="col-8">             
                      <button type="submit" class="add-cart banner-btn w-100 c-btn c-btn--large c-pdp__addtocart js-addtocart" data-target-element="offcanvas-right" data-offcanvas-src="#offcanvas-right" id="add_submit" data-add-to-cart>Add To Basket</button>
                                        </div>
                  </div>
                </div>
              </div>
              <div class="d-none col-12 mt-3">
                <div class="pro-add-btn">
                  <button class="banner-btn w-100 add-cart" type="submit" data-attr="{{ product.variants.first.id }}" data-cart-add="{{ product.id }}"
                    type="submit">Add To Cart</button>
                  <div id="smartwishlist" data-product="{{ product.id }}" data-variant="{{ product.variants.first.id }}"></div>
                </div>
              </div>
              <div class="col-12 m-auto text-center">
                <div class="social-links mt-4">
                  <!-- <p class="mb-3">Follow Us On:</p> -->
                  <ul class="mb-0 social-ul list-unstyled">
                    {% for block in section.blocks %} {% if block.settings.link_name == 'youtube' %}
                    <li class="d-inline-block ">
                      <a href="{{ block.settings.link_url }}">
                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                      </a>
                    </li>
                    {% else %}
                    <li class="d-inline-block pr-2">
                      <a href="{{ block.settings.link_url }}">
                        <i class="fa fa-{{block.settings.link_name}} fa-lg" aria-hidden="true"></i>
                      </a>
                    </li>
                    {% endif %} {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
        </div>
        </form>
      </div>
    </div>
  </div>
  </div>
<div></div>
</section>
{% schema %} { "name": "Product pages", "settings": [ 
{
  "type":"checkbox",
  "id":"enable_watch",
  "label":"Enable Watch People"
},
{
  "type":"number",
"id":"watch",
"label":"Range for people watch"
}
] } {% endschema %}