<section class="product-info pt-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
  <!-- <li class="nav-item">
    <a class="nav-link rounded-0 active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
  </li> -->
  <li class="nav-item">
    <a class="nav-link rounded-0 active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Reviews</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <!-- <div class="tab-pane fade show active pt-5" id="home" role="tabpanel" aria-labelledby="home-tab">{{product.description}}</div> -->
  <div class="tab-pane fade  show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
 <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
  </div>
</div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
"name": "product Description",
"settings": [

]
}
{% endschema %}