{%- if section.settings.enable_section -%}
    <section class="product-value">
        <div class="container-fluid">
            <div class="full-wid">
                    <div class="row">
                {% for  block in section.blocks %}
                    {% case block.type %}
                        {% when 'column-1' %}
                        <div class="col-4 product-col">
                        <h5 class="top_head">{{block.settings.top_head}}</h5>
                            <div class="content-body">
                                <p class="title mb-0">{{block.settings.topic_header-1}}</p>
                                <p class="sub_title mb-0">{{block.settings.subtitle-1}}</p>
                                <p class="body_text">{{block.settings.content_body-1}}</p>
                            </div>
                            <div class="content-body">
                                <p class="title mb-0">{{block.settings.topic_header-2}}</p>
                                <p class="sub_title mb-0">{{block.settings.subtitle-2}}</p>
                                <p class="body_text">{{block.settings.content_body-2}}</p>
                            </div>
                            <div class="content-body">
                                <p class="title mb-0">{{block.settings.topic_header-3}}</p>
                                <p class="sub_title mb-0">{{block.settings.subtitle-3}}</p>
                                <p class="body_text">{{block.settings.content_body-3}}</p>
                            </div>
                        </div>
                        {% when 'column-2' %}
                            <div class="col-4 product-col bg_darkgreen">
                        <h5 class="top_head text-white">{{block.settings.top_head-2}}</h5>
                            <div class="content-body">
                                <p class="body_text text-white">{{block.settings.content_body-2}}</p>
                            </div>
                            <div class="pro_list">
                                <ul>
                                    <li class="text-white">{{block.settings.product-list-1}}</li>
                                    <li class="text-white">{{block.settings.product-list-2}}</li>
                                    <li class="text-white">{{block.settings.product-list-3}}</li>
                                    <li class="text-white">{{block.settings.product-list-4}}</li>
                                </ul>
                            </div>
                        </div>
                        {% when 'column-3' %}
                            <div class="col-4 product-col">
                                <h5 class="top_head">{{block.settings.top_head-3}}</h5>
                                    <div class="content-body">
                                        <div class="real-val">
                                            <ul>
                                                <li>
                                                    <div class="d-flex">
                                                    <img src="{{block.settings.list-img-1 | img_url: 'original' }}" />
                                                    {{block.settings.text-1}}
                                                    </div>
                                                </li>
                                                <li>
                                                <div class="d-flex">
                                                    <img src="{{block.settings.list-img-2 | img_url: 'original' }}" />
                                                    {{block.settings.text-2}}
                                                    </div>
                                                    </li>
                                                <li>
                                                <div class="d-flex">
                                                    <img src="{{block.settings.list-img-3 | img_url: 'original' }}" />
                                                    {{block.settings.text-3}}
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                            </div>
                            
                        {% endcase %}
                {% endfor %}
                </div>
            </div>
            <div class="accordian_div">
                <div class="container p-0">
    <div id="accordion" class="accordion">
        <div class="card mb-0">
                {% for  block in section.blocks %}
                     {% case block.type %}
                        {% when 'column-1' %}
            <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                <a class="card-title">
                <h5 class="top_head">{{block.settings.top_head}}</h5>
                </a>
            </div>
            <div id="collapseOne" class="card-body collapse" data-parent="#accordion" >
                    <div class="content-body">
                    <p class="title mb-0">{{block.settings.topic_header-1}}</p>
                    <p class="sub_title mb-0">{{block.settings.subtitle-1}}</p>
                    <p class="body_text">{{block.settings.content_body-1}}</p>
                </div>
                <div class="content-body">
                    <p class="title mb-0">{{block.settings.topic_header-2}}</p>
                    <p class="sub_title mb-0">{{block.settings.subtitle-2}}</p>
                    <p class="body_text">{{block.settings.content_body-2}}</p>
                </div>
                <div class="content-body">
                    <p class="title mb-0">{{block.settings.topic_header-3}}</p>
                    <p class="sub_title mb-0">{{block.settings.subtitle-3}}</p>
                    <p class="body_text">{{block.settings.content_body-3}}</p>
                </div>
            </div>
            {% when 'column-2' %}
            <div class="card-header collapsed" data-toggle="collapse" href="#collapseTwo">
                <a class="card-title">
                    <h5 class="top_head">{{block.settings.top_head-2}}</h5>
                </a>
            </div>
            <div id="collapseTwo" class="card-body collapse" data-parent="#accordion" >
                  <div class="pro_list">
                                <ul>
                                    <li>{{block.settings.product-list-1}}</li>
                                    <li>{{block.settings.product-list-2}}</li>
                                    <li>{{block.settings.product-list-3}}</li>
                                    <li>{{block.settings.product-list-4}}</li>
                                </ul>
                            </div>
            </div>
            {% when 'column-3' %}
                      <div class="card-header collapsed" data-toggle="collapse" href="#collapseThird">
                <a class="card-title">
                    <h5 class="top_head">{{block.settings.top_head-3}}</h5>
                </a>
            </div>
            <div id="collapseThird" class="card-body collapse" data-parent="#accordion" >
                <div class="content-body">
                    <div class="real-val">
                        <ul>
                            <li>
                                <div class="d-flex">
                                <img src="{{block.settings.list-img-1 | img_url: 'original' }}" />
                                {{block.settings.text-1}}
                                </div>
                            </li>
                            <li>
                            <div class="d-flex">
                                <img src="{{block.settings.list-img-2 | img_url: 'original' }}" />
                                {{block.settings.text-2}}
                                </div>
                                </li>
                            <li>
                            <div class="d-flex">
                                <img src="{{block.settings.list-img-3 | img_url: 'original' }}" />
                                {{block.settings.text-3}}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
                        {% endcase %}
                {% endfor %}
        </div>
    </div>
</div>
            </div>
        </div>
    </section>
{%- endif -%}
{% schema %}
 {
    "name": "Product Value",
    "settings": [
		{
          "type": "checkbox",
          "id": "enable_section",
		  "label": "Enable Section?"
		}
    ],
    "blocks": [
	
    {
      "type": "column-1",
      "name": "Column-1",
      "settings": [
        {
            "type": "text",
            "id": "top_head",
            "label": "Header Text"
            },
        {
            "type": "text",
            "id": "topic_header-1",
            "label": "Topic Title"
            },
            {
            "type": "text",
            "id": "subtitle-1",
            "label": "Title Header"
            },
            {
            "type": "textarea",
            "id": "content_body-1",
            "label": "Content"
            },
                {
            "type": "text",
            "id": "topic_header-2",
            "label": "Topic Title"
            },
            {
            "type": "text",
            "id": "subtitle-2",
            "label": "Title Header"
            },
            {
            "type": "textarea",
            "id": "content_body-2",
            "label": "Content"
            },
                {
            "type": "text",
            "id": "topic_header-3",
            "label": "Topic Title"
            },
            {
            "type": "text",
            "id": "subtitle-3",
            "label": "Title Header"
            },
            {
            "type": "textarea",
            "id": "content_body-3",
            "label": "Content"
            }
        ]
    },
    {
      "type": "column-2",
      "name": "Column-2",
      "settings": [
            {
            "type": "text",
            "id": "top_head-2",
            "label": "Header Text"
            },
            {
            "type": "textarea",
            "id": "content_body-2",
            "label": "Content"
            },
            {
            "type": "text",
            "id": "product-list-1",
            "label": "Product List 1"
            },
            {
            "type": "text",
            "id": "product-list-2",
            "label": "Product List 2"
            },
            {
            "type": "text",
            "id": "product-list-3",
            "label": "Product List 3"
            },
            {
            "type": "text",
            "id": "product-list-4",
            "label": "Product List 4"
            }
        ]
    },
    {
      "type": "column-3",
      "name": "Column-3",
      "settings": [
            {
            "type": "text",
            "id": "top_head-3",
            "label": "Header Text"
            },
            {
                "type":"image_picker",
                "id":"list-img-1",
                "label":"Image"
            },
            {
                "type":"text",
                "id":"text-1",
                "label":"Text"
            },
            {
                "type":"image_picker",
                "id":"list-img-2",
                "label":"Image"
            },
            {
                "type":"text",
                "id":"text-2",
                "label":"Text"
            },
            {
                "type":"image_picker",
                "id":"list-img-3",
                "label":"Image"
            },
            {
                "type":"text",
                "id":"text-3",
                "label":"Text"
            }
            ]
        }
	]
 }
{% endschema %}