{% if section.settings.enable_section %}
<section class="real-result pt-5 pb-4">
    <div class="container">
        <div class="row mb-4">
            <div class="col-8 m-auto">
                {% if section.settings.tag_text != blank %}
                    <p class="text-center">{{ section.settings.tag_text }}</p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-5 text-left">
                <div class="text-cotent">
                    {% if section.settings.head_line != blank %}
                        <h6>{{ section.settings.head_line }}</h6>
                    {% endif %}
                    <ul class="step-result">
                        <li>{{ section.settings.step_text1 }}</li>
                        <li>{{ section.settings.step_text2 }}</li>
                        <li>{{ section.settings.step_text3 }}</li>
                        <li>{{ section.settings.step_text4 }}</li>
                    </ul>
                    <a class="button-all ml-0" href="{{ section.settings.btn_url }}">{{ section.settings.btn_text }}</a>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7 ">
                <div class="real-result-main_img-div">
                    <h4>{{ section.settings.img_head }}</h4>
                    <p>{{ section.settings.img_sub_head }}</p>
                    {% if section.settings.result_img != blank %}
                        <img class="img-fluid" src="{{ section.settings.result_img | img_url:'original' }}" alt="{{ shop.name }}">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% schema %}
{
"name": "Real Result Section",
"settings": [
  {
    "type":"checkbox",
    "id": "enable_section",
    "label":"Enable Section?"
  },
  {
    "type":"textarea",
    "id" :"tag_text",
    "label":"Text"
  },
  {
    "type":"textarea",
    "id":"head_line",
    "label":"Title Text"
  },
  {
    "type":"text",
    "id":"step_text1",
    "label":"Text 1"
  },
  {
    "type":"text",
    "id":"step_text2",
    "label":"Text 2"
  },
  {
    "type":"text",
    "id":"step_text3",
    "label":"Text 3"
  },
  {
    "type":"text",
    "id":"step_text4",
    "label":"Text 4"
  },
  {
    "type":"text",
    "id":"btn_text",
    "label":"Button"
  },
  {
    "type":"url",
    "id":"btn_url",
    "label":"Button Url"
  },
  {
    "type":"textarea",
    "id":"img_head",
    "label":"Heading"
  },
  {
    "type":"textarea",
    "id":"img_sub_head",
    "label":"Sub Head"
  },
  {
    "type": "image_picker",
    "id": "result_img",
    "label": "Image"
  }
  
]
}
{% endschema %}