<section class="privacy-section">
<div class="container main-content">
   <div class="text-center">
     <h1 class="heading">
       {% if section.settings.title != blank %}{{section.settings.title}}{% endif %}</h1>
   </div>
     {% if section.settings.description != blank %}
        <div class="col-12">
            <p>{{ section.settings.description}}</p>
        </div>
    {% endif %}
     <div class="col-12" >
    <div class="col-12" id="{{section.id}}"> 
                {% for block in section.blocks %}
                {% if block.settings.enable %}
    				
    					<div class="card">
                            <div class="card-header pl-1 {% if forloop.last %} border-bottom-none {% endif %}">
                                <a data-toggle="collapse" href="#content{{ block.id }}" class="collapsed card-link">
                                   
                                        {{ block.settings.title }}
                                                                  </a>
                            </div>
                            <div id="content{{ block.id }}" class="collapse" data-parent="#{{section.id}}">
                                <div class="card-body">
                                    <p>{{ block.settings.description }}</p>
                                </div>
                            </div>
                        </div>

                {% endif %}
                {% endfor %}
            </div>
 </div>
</div>
</section>

{% schema %}
  {
    "name": " Shipping Policy Section",
    "settings": [
      {
      "type":"text",
      "id":"title",
      "label":"Title"
      },
      {
      "type":"textarea",
      "id":"description",
      "label":"Description"
      }
],
"blocks": [
      {
      "type": "item",
      "name": "Add Content",
      "settings": [
      {
      "type":"checkbox",
      "id":"enable",
      "label":"Enable",
      "default":true
      },{
      "type":"textarea",
      "id":"title",
      "label":"Title",
      "default":"Title "
      },
      {
      "type":"textarea",
      "id":"description",
      "label":"Description",
      "default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt."
      }
      ]
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
