{% if section.settings.enable_section %} 
<section class="testimonials py-5" id="testi">
    <div class="container">
      <div class="row ">
        <div class="col-12 text-center pb-4">
          <h3 class="text-uppercase">{{section.settings.heading_title}}</h3>
        </div>
        <div class="col-12 p-0"> 
          <div class="row">
          {% for block in section.blocks %}
              <div class="col-md-4  test-slide text-center mb-xl-0 mb-lg-0 mb-md-0 mb-3">
                <iframe class="mb-3" height="250" width="100%" src="{{block.settings.video}}" frameborder="0" allowfullscreen>
                </iframe>
                {% if block.settings.title %}
                  <h5 class="mb-3">"{{block.settings.title}}"</h5>
                {% endif %}
                {% if block.settings.content_text != blank %}
                  <p class="mb-3">"{{ block.settings.content_text }}"</p>
                {% endif %}
              </div>
          {% endfor %}
          </div>
        </div>
        <div class="col-12 m-auto text-center">
          <div class="show-all pt-4">
            <a class="button-all" href="{{section.settings.button_url}}">{{section.settings.button_title}}</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% for block in section.blocks %}
  <div class="modal fade testi-{{ forloop.index }}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content p-2">
        <iframe class="" height="400" width="100%" src="{{block.settings.video}}" frameborder="0" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
  {% endfor %}
{% endif %}
{% schema %}
  {
    "name": "Testimonials Section",
    "settings": [
	{
    "type": "checkbox",
    "id": "enable_section",
    "label": "Enable Section"
 	 }, 
	{
    "type":"text",
    "id":"heading_title",
    "label":"Title Text",
	"default": "MORE PROOF? WATCH THE PRO'S"
  	},
    {  "type":"text",
		"id":"button_title",
		"label":"Button Title",
		"default":"SHOW ALL"
    }, 
	{  "type":"url",
		"id":"button_url",
		"label":"Button Url"
	}
	],
	"blocks": [
	{
    "type": "content",
    "name": "Testimonials video",
    "settings": [
        {
        "type": "url",
        "id": "video",
        "label": "Testimonials Video"
        },
        {
          "type": "image_picker",
          "id": "video_img",
          "label": "Image Video"
        },
        {
        "type": "text",
        "id": "title",
        "label": "heading",
		    "default":"This is Marshmallow"
        },
        {
          "type": "text",
          "id": "content_text",
          "label": "Content"
        }
		]
  }
	],
  "presets": [
  {
  "name": "Testimonials",
  "category": "Index"
	}
]

  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
