<section class="why-us pt-5">
    <div class="container">
        <div class="row my-3">
            <div class="col-12 text-center mb-3">
                {% if section.settings.heading_title != blank %}
                  <h3 class="text-uppercase mb-2">{{ section.settings.heading_title }}</h3>
                {% endif %}
                {% if section.settings.sub_title != blank %}
                  <p class="">{{ section.settings.sub_title }}</p>
              {% endif %}
            </div>
        </div>
        <div class="row">
            {% for block in section.blocks %}
            <div class="col-md-3 col-sm-6 col-12 text-center">
                <div class="why-us-main ">
                    {% if  block.settings.icon_text != blank %}
                        <i class="{{ block.settings.icon_text }} mb-4 wow flipInX"></i>
                    {% endif %}
                    {% if  block.settings.content_head != blank %}
                        <h6 class="wow slideInDown">{{ block.settings.content_head }}</h6>
                    {%  endif %}
                    {% if  block.settings.content_text != blank %}
                        <p class="wow slideInDown">{{ block.settings.content_text }}</p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% schema %}
  {
    "name": "Why Us",
    "settings": [
      {
        "type": "text",
        "id": "heading_title",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "sub_title",
        "label": "Subtitle"
      }
    ],
    "blocks": [
        {
        "type": "img-text",
        "name": "Why Us",
        "settings": [
            {
                "type": "text",
                "id": "icon_text",
                "label": "Icon"
            },
            {
                "type": "text",
                "id": "content_head",
                "label": "Content Head"
            },
            {
                "type": "textarea",
                "id": "content_text",
                "label": "Content"
            }
        ]
    }
    ]
  }
{% endschema %}