.about-promo{
    .holder{
        background-size: cover;
        background-repeat: no-repeat;
    }
    p{
        .logo-img{
            width:37%;
        }
    }
}
#lalu-collections{
    .doctor-index{
        margin-bottom:40px;
    }
}
.why-us {
    .why-us-main{
        i{
            font-size:60px;
        }
    }
}