#benefits{
    .testimonials{
        background:none;
    }
    .undersanding-skin{
        margin-bottom:40px;
    }
}
.benefits-section{
    background:$teal;

}
@media only screen and (max-width: 767px) {
    .benefits-section{
        h2{
            font-size:35px;
        }
    }

}